.registration-outer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.registration-outer-content > h2 {
    text-align: center;
    color: #3a5cbc;
    margin-bottom: 47px;
    font-family: Roboto-Regular;
    font-size: 35px;
}

.registration-outer-content > span {
    text-align: center;
    width: 315px;
    margin: 25px auto 0;
    font-family: Roboto-Regular;
}

.registration-outer-content > span > a {
    text-decoration: underline;
}

.registration-form {
    margin: 0 auto;
    width: 365px;
    text-align: center;
}

.registration-form > .role-toggle-switch {
    height: 45px;
    width: 255px;
    border-radius: 22px;
    background-color: #3a4e93;
    padding: 0;
    border: 0;
    position: relative;
    text-align: justify;
    margin-bottom: 40px;
    outline: none;
}

.registration-form > .role-toggle-switch > span {
    position: absolute;
    left: 2px;
    top: 1px;
    width: 140px;
    display: inline-block;
    height: 43px;
    border-radius: 21px;
    background-color: white;
    z-index: 2;
    transition: all 0.5s;
}

.registration-form > .role-toggle-switch.company-toggled > span {
    left: 145px;
    width: 108px;
}


.registration-form > .role-toggle-switch > div {
    z-index: 3;
    display: inline-block;
    position: relative;
    font-family: Roboto-Medium;
    font-size: 15px;
    height: inherit;
    line-height: 3em;
    transition: all 0.5s;
}

.registration-form > .role-toggle-switch > div.user-toggle {
    text-indent: 22px;
    width: 120px;
    color: #3a4e93;
}

.registration-form > .role-toggle-switch.company-toggled > div.user-toggle {
    color: white;
}

.registration-form > .role-toggle-switch > div.company-toggle {
    margin-left: 42px;
    color: white;
}

.registration-form > .role-toggle-switch.company-toggled > div.company-toggle {
    color: #3a4e93;
}

.registration-form input {
    border: solid 2px #C3C3C3;
    width: 365px;
    height: 45px;
    text-indent: 13px;
    border-radius: 6px;
    color: #272727;
    font-family: Roboto-Medium;
    font-size: 15px;
}

.registration-form input:focus {
    outline: none;
}

.registration-form input {
    margin-bottom: 16px;
}

.registration-form-submit-btn {
    width: 365px;
    height: 45px;
    margin: 0;
    font-family: Roboto-Medium;
    font-size: 15px;
    color: #fefefe !important;
    background-color: #3a4e93 !important;
    border-radius: 6px;
    text-transform: none;
}

.registration-form .animate-show {
    transition: all linear 0.5s;
    height: 122px;
    overflow-y: hidden;
}

.registration-form .animate-show.ng-hide {;
    height: 0;
}