<div class="registration-outer-content ">
    <h2>Регистрация</h2>
    <form ng-controller="registrationController" ng-submit="signUp()"
          class="registration-form">
        <button type="button" class="role-toggle-switch"
                ng-class="{'company-toggled': isCompanyToggled()}"
                ng-click="toggleRole()">
            <span></span>
            <div class="user-toggle">Пользователь</div>
            <div class="company-toggle">Компания</div>
        </button>
        <input ng-if="credentials.role == 'CUSTOMER'" ng-model="credentials.name" placeholder="Имя">
        <input ng-if="credentials.role == 'COMPANY'"
        ng-model="credentials.name" placeholder="Торговое название, например: Магазин «Форсаж»"><br/>
        <input ng-model="credentials.phoneNumber" ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
               ui-mask-placeholder-char="_" placeholder="Номер телефона"><br/>
        <div ng-hide="!isCompanyToggled()" class="animate-show">
            <input ng-model="credentials.email" placeholder="email">
            <input ng-model="credentials.fullName" placeholder="Ф.И.О.">
        </div>
        <md-button type="submit" class="md-raised md-primary registration-form-submit-btn">Зарегистрироваться
        </md-button>
    </form>
    <span>Регистрируясь, я подтверждаю своё согласие с условиями
        <a href="/resources/license/licenseAgreement.pdf" target="_blank">пользовательского соглашения</a>
    </span>
    <img style="margin-top: 50px;" width="124" height="134" src="/resources/img/logo_auth.jpeg" class="company-auth-logo-image">
</div>