<div class="password-recovery-outer-content">
    <form ng-controller="passwordRecoveryController" ng-submit="recoverPassword()" class="password-recovery-form">
        <div class="password-recovery-form-header"></div>
        <img src="/resources/img/password_recovery_key.png">

        <h2>Забыли пароль?</h2>
        <span>Не проблема. Получите новый в sms сообщении:</span>

        <input ng-model="credentials.phoneNumber" ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
               ui-mask-placeholder-char="_" placeholder="Номер телефона"><br/>

        <md-button type="submit" class="md-raised md-primary">Восстановить пароль</md-button>

        <a href ng-click="toLogin()">Вспомнили пароль? <span>Войти.</span></a>
    </form>
</div>