.password-recovery-outer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.password-recovery-form {
    margin: 0 auto;
    width: 660px;
    text-align: center;
    color: #636363;
    border-radius: 10px;
    box-shadow: rgba(0,0,0, 0.75) 0 7px 37px -6px;
}

.password-recovery-form-header {
    height: 10px;
    background-color: #3a4e93;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.password-recovery-form > img {
    margin: 30px 0;
}


.password-recovery-form > h2 {
    margin-top: 0;
    font-family: Roboto-Bold;
    font-size: 35px;
}

.password-recovery-form > span {
    font-family: Roboto-Regular;
    font-size: 23px;
}

.password-recovery-form > input {
    width: 488px;
    height: 60px;
    margin: 20px 0;
    border: solid 1px #b7cdfc;
    border-radius: 6px;
    text-indent: 19px;
    font-family: Roboto-Regular;
    font-size: 20px;
}

.password-recovery-form > button {
    width: 488px;
    height: 60px;
    border-radius: 30px;
    background-color: #3a4e93 !important;
    font-family: Roboto-Regular;
    font-size: 19px;
    color: white !important;
    text-transform: none;
    margin-bottom: 12px;
    box-shadow: none !important;
}

.password-recovery-form > a {
    display: block;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #636363;
    cursor: pointer;
    margin-bottom: 37px;
}

.password-recovery-form > a > span {
    font-family: Roboto-Medium;
}

