<div ng-repeat="coupon in coupons"
     style="width:256px;
     height: 272px;
     display: inline-block;
     vertical-align: top;
     margin-left: 12px;
     margin-top: 20px;
     padding: 10px;
     background-color: {{coupon.backgroundColorHex}};
     border-radius: 10px;
     position: relative;">

    <div style="
        position: absolute;
        left: 0;
        top: 20px;"
    >

        <div style="
             height: 35px;
             background-color: {{coupon.flagColorHex}};
             display: inline-block;"
            ng-style="{'color': calcFontColor(coupon.flagColorHex)}">


            <span ng-if="coupon.couponType.type=='DISCOUNT'"
                  style="
                  line-height: 2.1;
                  padding: 0 7px 0 10px;
                  font-size: 17px;
                  font-family: Roboto-Regular;">
            -{{coupon.couponType.discount}}<span style="font-size: 12px; font-weight: bold;">%</span>
            </span>
            <span ng-if="coupon.couponType.type=='GIFT'"
                  style="
                    background: url('/resources/img/gift_iconw.png') no-repeat center;
                    width: 28px;
                    margin: 0 8px 0 10px;
                    height: inherit;
                    display: inline-block;
                    vertical-align: top;
            ">

            </span>
            <p ng-if="coupon.couponType.type=='DISCOUNT_GIFT'"
                  style="
                  line-height: 1.3;
                  padding: 7px 40px 5px 10px;
                  font-size: 17px;
                  font-family: Roboto-Regular;
                  background: url('/resources/img/gift_iconw.png') no-repeat center right 5px;">
                -{{coupon.couponType.discount}}<i style="font-size: 12px; font-weight: bold;">%</i>
            </p>
            <span ng-if="coupon.couponType.type=='PRICE'"
                style="
                line-height: 2.1;
                padding: 0 7px 0 10px;
                font-size: 17px;
                font-family: Roboto-Regular;
                ">
                <span style="font-size: 15px;">от</span> {{coupon.couponType.price}}<span style="font-size: 13px; font-family: PT-Sans-Regular;">&#8381;</span>
            </span>

        </div>
        <div ng-style="{'border-color': coupon.flagColorHex + ' transparent transparent transparent'}"
             style="display: inline-block;
                    border-width: 18px 10px 0 0;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 0;
                    vertical-align: top;
                    margin-left: -4px;">

        </div>
        <div ng-style="{'border-color': 'transparent transparent transparent' + coupon.flagColorHex}"
             style="display: inline-block;
                    border-width: 18px 0 0 10px;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    bottom: 0;
                    vertical-align: bottom;
                    margin-left: -14px;">

        </div>
    </div>

    <div style="
        height: 70%; width: 100%;
        background: url('/images/{{coupon.images[0]}}') no-repeat center;
        background-size: cover;
        border-radius: 5px;">

    </div>

    <div style="height: 30%; background-color: {{coupon.backgroundColorHex}};">
        <span style="
        font-family: Roboto-Regular;
        font-size: 16px;
        margin-top: 8px;
        height: 3em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;"
              ng-style="{'color': calcFontColor(coupon.backgroundColorHex)}">
            {{coupon.title}}
        </span>
        <span style="
            position: absolute;
            bottom: 10px;
            display: block;
            background: url('/resources/img/watch.png') no-repeat;
            background-size: 20px;
            text-indent: 25px;
            color: #67676a;"

            ng-bind="daysRemained(coupon.dateTo)">
        </span>
    </div>
</div>