<div>
    <form ng-submit="recoverPassword()" ng-controller="passwordRecoveryController"
          class="password-recovery-form">
        <h3 style="color: #3a5cbc; margin-bottom: 15px;">Восстановление пароля</h3>
        <div layout-align="center" layout="row">
            <input name="phoneNumber" placeholder="Номер телефона"
                   ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
                   ui-mask-placeholder-char="_"
                   ng-model="credentials.phoneNumber">
        </div>

        <div layout-align="center" layout="row">
            <md-button type="submit" class="md-raised md-primary">Восстановить пароль</md-button>
        </div>
    </form>
</div>