.password-recovery-form {
    margin-top: 35px;
}

.password-recovery-form input {
    width: 80%;
    height: 40px;
    border: solid 1px #c2c2c2;
    border-radius: 6px;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #686767;
    text-indent: 15px;
    margin-bottom: 10px;
}

.password-recovery-form button {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    background-color: #3a5cbc !important;
    color: white;
    text-transform: none;
    font-family: Roboto-Regular;
    font-size: 17px;
}