<div class="yandex-geocoder-dialog">
    <ya-map ya-zoom="10" ya-center="{{ center }}"
            ya-before-init="beforeInit()"
            ya-after-init="afterMapInit($target)"
            ya-event-click="mapClick($event)">
        <ya-geo-object ng-repeat="o in usrGeoObjects" ya-source="o"></ya-geo-object>
        <ya-collection ya-options="{preset:'islands#redStretchyIcon',balloonMaxWidth:250}">
            <ya-geo-object ng-repeat="o in geoObjects" ya-source="o"></ya-geo-object>
        </ya-collection>
    </ya-map>
    <md-button class="md-raised" ng-click="cancel()">Отмена</md-button>
    <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="submitDisabled()">Ок</md-button>
</div>