<div ng-controller="purseController" class="company-content">

    <form method="POST" action="/robokassa/pay" class="purse-payment-form">
        <div class="purse-coupon-header">
            <span>Пополнение баланса</span>
            <img width="172" height="21" src="/resources/img/logo_robokassa.png">
        </div>

        <input numbers-only name="count" ng-model="payment.count" placeholder="Введите сумму платежа (руб.)" />

        <md-button type="submit" class="md-raised"
        ng-disabled="!payment.count || payment.count < 1">Пополнить</md-button>
    </form>

</div>