.purse-payment-form {
    width: 460px;
    border-top: solid 10px #3a4e93;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    margin: 100px auto 0;
    box-shadow: #bbb6b6 0px 0px 17px 1px;
}

.purse-payment-form > div {
    text-align: center;
    margin-bottom: 55px;
    margin-top: 40px;
}

.purse-payment-form > div > span {
    display: block;
    font-family: Roboto-bold;
    font-size: 35px;
    color: #636363;
    line-height: 1;
    margin-bottom: 15px;
}

.purse-payment-form input {
    width: 415px;
    height: 60px;
    border: solid 1px #c2c2c2;
    font-family: Roboto-Regular;
    font-size: 20px;
    text-indent: 20px;
    border-radius: 6px;
    outline: none;
    margin-bottom: 35px;
}


.purse-payment-form input::-webkit-input-placeholder,
.purse-payment-form input:-ms-input-placeholder,
.purse-payment-form input::-moz-placeholder,
.purse-payment-form input:-moz-placeholder {
    color: #C2C2C2;
}

.purse-payment-form input:focus {
    border-color: #66afe9;
}

.purse-payment-form button {
    height: 52px;
    border-radius: 26px;
    padding: 0 40px;
    text-transform: none;
    margin-bottom: 60px;
    font-size: 18px;
}

.purse-payment-form button:not([disabled]) {
    background-color: #3a4e93 !important;
    color: white;
}