<div
        class="coupon-presentation" layout="column" ng-style="{'background-color': coupon.backgroundColorHex}">

    <div class="coupon-presentation-flag-block-wrapper">
        <div class="coupon-presentation-flag-block"
             ng-style="{'background-color': coupon.flagColorHex, 'color': calcFontColor(coupon.flagColorHex)}">

            <span ng-if="coupon.couponType.type=='DISCOUNT'"
                  class="coupon-presentation-discount-span">
            -{{coupon.couponType.discount}}<span>%</span>
            </span>

            <span ng-if="coupon.couponType.type=='GIFT'"
                  class="coupon-presentation-gift-span"
                  ng-style="{'background-image': calcGiftBackGround(coupon.flagColorHex)}">
            </span>

            <p ng-if="coupon.couponType.type=='DISCOUNT_GIFT'"
               class="coupon-presentation-discount-gift-p"
               ng-style="{'background-image': calcGiftBackGround(coupon.flagColorHex)}">
                -{{coupon.couponType.discount}}<i>%</i>
            </p>

            <span ng-if="coupon.couponType.type=='PRICE'"
                  class="coupon-presentation-price-span">
                <span class="from-text">от</span>
                {{coupon.couponType.price}}<span class="currency-text">&#8381;</span>
            </span>

        </div>
        <div ng-style="{'border-color': coupon.flagColorHex + ' transparent transparent transparent'}"
             class="coupon-presentation-discount-block-top-triangle"></div>
        <div ng-style="{'border-color': 'transparent transparent transparent' + coupon.flagColorHex}"
             class="coupon-presentation-discount-block-bottom-triangle"></div>
    </div>

    <div style="background: url('/images/{{coupon.images[0]}}') no-repeat center;
                max-height: 200px;"
         class="coupon-presentation-image-block">
        <img src="/images/{{coupon.images[0]}}" style="visibility: hidden; width: 100%;"/>
    </div>

    <div>
        <span class="coupon-presentation-title-span"
              ng-style="{'color': calcFontColor(coupon.backgroundColorHex)}">
            {{coupon.title}}
        </span>
        <span class="coupon-presentation-remained-span"
              ng-bind="daysRemained(coupon.dateTo)">
        </span>
    </div>

    <div ng-show="false" class="coupon-presentation-image-block">

        <img src="/images/{{coupon.images[0]}}"/>

        <div ng-show="false" ng-if="coupon.couponType.type == 'DISCOUNT' || coupon.couponType.type == 'DISCOUNT_GIFT'"
             ng-style="{'background': coupon.flagColorHex}"
             class="coupon-presentation-discount-block">
            <span>-{{ coupon.couponType.discount }}%</span>
        </div>
    </div>

    <div ng-show="false" ng-style="{'background-color': coupon.backgroundColorHex}"
         class="coupon-presentation-info-block">
        <span>
            <md-tooltip md-direction="left">{{coupon.title}}</md-tooltip>
            {{ coupon.title }}
        </span>
        <p>
            <md-tooltip md-direction="left">{{coupon.description}}</md-tooltip>
            {{ coupon.description }}
        </p>
        <div>
            <div>
                <img src="/resources/img/watch.png" width="22" height="22">
            </div>
            <div ng-bind="'Осталось ' + daysRemained() + ' дней'"></div>
        </div>
    </div>


    <div ng-if="isAdmin">

        <div ng-if="!coupon.couponType.giftDescription">
            <b>Описание:</b>
            <p>{{ coupon.description }}</p>
        </div>

        <div ng-if="coupon.category.title">
            <b>Категория:</b>
            <p>{{coupon.category.title}}</p>
        </div>

        <div ng-if="coupon.region.title">
            <b>Регион:</b>
            <p>{{coupon.region.title}}</p>
        </div>

        <div ng-if="coupon.couponType.giftTitle" style="word-break: break-all;">
            <b>Название подарка:</b>
            <p>{{coupon.couponType.giftTitle}}</p>
        </div>
        <div ng-if="coupon.couponType.giftCondition" style="word-break: break-all;">
            <b>Условия получения подарка:</b>
            {{coupon.couponType.giftCondition}}
        </div>
        <div ng-if="coupon.couponType.giftDescription" style="word-break: break-all;">
            <b>Описание подарка:</b>
            {{coupon.couponType.giftDescription}}
        </div>

        <div ng-if="coupon.couponType.giftImage">
            <b>Изображение подарка:</b> <br />
            <img width="200" height="200" src = "/images/{{coupon.couponType.giftImage}}"/>
        </div>

        <div ng-if="coupon.images.length > 1">
            <b>Другие изображения:</b>
            <div ng-repeat="image in coupon.images">
                <img width="200" height="200" ng-if="image != coupon.images[0]" src="images/{{image}}" />
            </div>
        </div>
    </div>

</div>