<div layout-fill layout="column" class="inset">
    <md-content>
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Новые компании</span>
            </div>
        </md-toolbar>

        <table ng-table="tableParams" class="table text-center" >
            <tr ng-repeat="company in $data">
                <td title="'Название'">
                    {{company.title}}
                </td>
                <td title="'Ф.И.О.'">
                    {{company.fullName}}
                </td>
                <td title="'email'">
                    {{company.email}}
                </td>
                <td title="'Телефон'">
                    {{company.phoneNumber}}
                </td>
                <td title="'Действия'">
                    <md-button class="md-raised md-warn" ng-click="reject(company)">Отказать</md-button>
                    <md-button class="md-raised md-primary" ng-click="confirm(company)">Подтвердить</md-button>
                </td>
            </tr>
        </table>

    </md-content>

</div>