<div>

    <form name="registrationForm" ng-submit="signUp()" ng-controller="registrationController"
          ng-init="credentials.role='CUSTOMER'" class="registration-form">
        <h3 style="color: #3a5cbc; margin-bottom: 15px;">Регистрация</h3>
        <button type="button" class="role-toggle-switch"
                ng-class="{'company-toggled': isCompanyToggled()}"
                ng-click="toggleRole()">
            <span></span>
            <div class="user-toggle">Пользователь</div>
            <div class="company-toggle">Компания</div>
        </button>

        <div layout-align="center" layout="row">
            <input name="name" placeholder="Имя"
                   ng-model="credentials.name">
        </div>

        <div layout-align="center" layout="row">
            <input name="phoneNumber" placeholder="Номер телефона"
                   ng-model="credentials.phoneNumber" ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
                   ui-mask-placeholder-char="_">
        </div>

        <div ng-hide="!isCompanyToggled()" class="animate-show">
            <input ng-model="credentials.email" placeholder="email">
            <input ng-model="credentials.fullName" placeholder="Ф.И.О.">
        </div>

        <div layout-align="center" layout="row">
            <md-button class="submit-button" type="submit" class="md-raised md-primary">Зарегистрироваться</md-button>
        </div>

    </form>


</div>