.registration-form {
    margin-top: 35px;
}

.registration-form input {
    width: 80%;
    height: 40px;
    border: solid 1px #c2c2c2;
    border-radius: 6px;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #686767;
    text-indent: 15px;
    margin-bottom: 10px;
}

.registration-form .submit-button {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    background-color: #3a5cbc !important;
    color: white;
    text-transform: none;
    font-family: Roboto-Regular;
    font-size: 17px;
}

.registration-form > .role-toggle-switch {
    height: 45px;
    width: 255px;
    border-radius: 22px;
    background-color: #6496ff;
    padding: 0;
    border: 0;
    position: relative;
    text-align: justify;
    margin-bottom: 20px;
    outline: none;
}

.registration-form > .role-toggle-switch > span {
    position: absolute;
    left: 2px;
    top: 1px;
    width: 140px;
    display: inline-block;
    height: 43px;
    border-radius: 21px;
    background-color: white;
    z-index: 2;
    transition: all 0.5s;
}

.registration-form > .role-toggle-switch.company-toggled > span {
    left: 145px;
    width: 108px;
}


.registration-form > .role-toggle-switch > div {
    z-index: 3;
    display: inline-block;
    position: relative;
    font-family: Roboto-Medium;
    font-size: 15px;
    height: inherit;
    line-height: 3em;
    transition: all 0.5s;
}

.registration-form > .role-toggle-switch > div.user-toggle {
    text-indent: 22px;
    width: 120px;
    color: #6496ff;
}

.registration-form > .role-toggle-switch.company-toggled > div.user-toggle {
    color: white;
}

.registration-form > .role-toggle-switch > div.company-toggle {
    margin-left: 42px;
    color: white;
}

.registration-form > .role-toggle-switch.company-toggled > div.company-toggle {
    color: #6496ff;
}

.registration-form .animate-show {
    transition: all linear 0.5s;
    height: 100px;
    overflow-y: hidden;
}

.registration-form .animate-show.ng-hide {;
    height: 0;
}