<div class="history-grey-line"></div>
<div class="company-content history-outer-content">
    <div class="history-white-space"></div>
    <table ng-table="tableParams" class="table text-center history-table history-content ">
        <thead>
        <tr>
            <th class="history-table-image-column">
                <div>Изображение</div>
            </th>
            <th class="history-table-title-column">
                <div>Название</div>
            </th>
            <th class="history-table-status-column">
                <div>Статус</div>
            </th>
            <th class="history-table-days-remained-column">
                <div>Осталось</div>
            </th>
            <th class="history-action-column">
                <div>Действия</div>
            </th>
        </tr>
        </thead>
        <tbody ng-repeat="coupon in $data">
        <tr class="history-row-spacer">
            <td colspan="6">
                <div class="history-delete-btn-wrapper">
                    <md-button class="history-delete-btn" ng-click="delete(coupon)"
                               ng-class="{'history-delete-btn-first': $data.indexOf(coupon) == 0}">
                        <md-tooltip>
                            Удалить акцию
                        </md-tooltip>
                    </md-button>
                </div>
            </td>
        </tr>
        <tr class="coupon-row" ng-class="{'history-coupon-row-expanded': coupon.showExtraInfo}">
            <td>
                <div>
                    <div class="history-coupon-image-inner-block">
                        <a href="" ng-click="coupon.showExtraInfo = !coupon.showExtraInfo"
                           ng-class="{ 'history-coupon-hide-box': coupon.showExtraInfo, 'history-coupon-expand-box': !coupon.showExtraInfo }">
                        </a>
                        <img src="/images/{{coupon.images[0]}}" class="coupon-rounded-image">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="history-coupon-title-span">
                        {{coupon.title}}
                        <md-tooltip>{{coupon.title}}</md-tooltip>
                    </span>
                </div>
            </td>
            <td>
                <div>
                    <div>
                        <span class="history-item-status {{ coupon.statusEn }}">
                            {{ coupon.status }}
                            <ng-md-icon icon="info" ng-if="coupon.statusEn == 'rejected'">
                                <md-tooltip>
                                    {{ coupon.rejectionReason }}
                                </md-tooltip>
                            </ng-md-icon>
                        </span>
                        <span ng-if="coupon.hasShadow && !coupon.rejectionReason"
                              class="history-item-status review history-item-new-version-review-status">
                            Новая версия в модерации
                        </span>
                        <span ng-if="coupon.hasShadow && coupon.rejectionReason"
                              class="history-item-status rejected history-item-new-version-rejected-status">
                            Новая версия отклонена
                            <ng-md-icon icon="info">
                                <md-tooltip>
                                    {{ coupon.rejectionReason }}
                                </md-tooltip>
                            </ng-md-icon>
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="history-days-remained">
                    {{ coupon.daysRemained }}
                </div>
            </td>

            <td>
                <div class="history-actions-cell">

                    <div class="history-actions-wrapper">

                        <md-button ng-if="coupon.fixingEnabled"
                                   ng-click="fix(coupon)" class="history-fix-btn">
                            <md-tooltip>
                                Закрепить в топе
                            </md-tooltip>
                        </md-button>

                        <md-button ng-if="coupon.extendingEnabled && !coupon.hasShadow"
                                   ng-click="extend(coupon)" class="history-extend-btn">
                            <md-tooltip>
                                Продлить публикацию
                            </md-tooltip>
                        </md-button>

                        <md-button ng-if="coupon.forceAddingToFavoritesEnabled"
                                   ng-click="forceAddToFavorites(coupon)" class="history-to-pocket-btn">
                            <md-tooltip>
                                Раскидать по карманам
                            </md-tooltip>
                        </md-button>

                        <md-button ng-if="coupon.raisingEnabled"
                                   ng-click="raise(coupon)" class="history-raise-btn">
                            <md-tooltip>
                                Поднять в топ
                            </md-tooltip>
                        </md-button>


                        <md-button ng-if="coupon.editingEnabled"
                                   ng-click="edit(coupon.id)" class="history-edit-btn">
                            <md-tooltip ng-if="coupon.statusEn == 'finished'">
                                Редактировать и продлить
                            </md-tooltip>
                            <md-tooltip ng-if="coupon.statusEn != 'finished'">
                                Редактировать
                            </md-tooltip>
                        </md-button>

                    </div>

                </div>
            </td>
        </tr>
        <tr ng-if="coupon.showExtraInfo" class="history-coupon-extra-row">
            <td colspan="2" class="history-coupon-extra-info-cell">
                <div class="history-ellipsis" ng-cloak>
                    Описание:<p ng-bind="coupon.description" data-ellipsis></p>
                </div>
                <div>Действует до {{ coupon.dateToFormatted }} включительно</div>

                <div class="history-likes-and-comments-block">
                    <div class="history-reviews-block">
                        <span>{{ coupon.reviewsCount }}</span>
                    </div>
                    <div class="history-comments-block">
                        <span>{{ coupon.commentsCount }}</span>
                    </div>
                    <div class="history-likes-block">
                        <span>{{ coupon.likesCount }}</span>
                    </div>

                </div>
            </td>
            <td colspan="3">

                <div class="history-chart-wrapper">
                    <canvas class="chart chart-line"
                            chart-data="coupon.charts.data"
                            chart-labels="coupon.charts.labels"
                            chart-series="coupon.charts.series"
                            chart-options="coupon.charts.options"
                            chart-colours="coupon.charts.colours"
                    >
                    </canvas>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>