.coupon-rounded-image {
    width: 75px;
    height: 75px;
    border-radius: 5%;
    object-fit: cover;
}

.history-table {
<!-- border: 20 px solid transparent;
-->
}

.history-table {
    cursor: default;
}

.history-table > thead > tr > th {
    padding: 0px 0px 20px 0px;
    border: none;
}

.history-table > thead > tr > th.history-table-image-column {
    width: 170px;
}

.history-table > thead > tr > th.history-table-title-column {
    width: 220px;
}

.history-table > thead > tr > th.history-table-status-column {
    width: 160px;
}

.history-table > thead > tr > th.history-table-days-remained-column {
    width: 130px;
}

.history-table > thead > tr > th.history-action-column {
    width: 280px;
}

.history-table > thead > tr {
    position: fixed;
    z-index: 5;
}

.history-table tbody:nth-child(2) {
    border-top: 90px solid transparent;
}

.history-table tbody > tr > td:nth-child(1) {
    width: 170px;
}

.history-table tbody > tr > td:nth-child(2) {
    width: 220px;
}

.history-table tbody > tr > td:nth-child(3) {
    width: 150px;
}

.history-table tbody > tr > td:nth-child(4) {
    width: 130px;
}

.history-table tbody > tr > td:nth-child(5) {
    width: 280px;
}

.history-table > thead > tr > th > div {
    height: 55px;
    background-color: #E2E4EB;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #B6BBC7;
    font-size: 15px;
}

.history-table > tbody > tr.coupon-row {
    border: solid 1px #DCDFE8;
}

.history-table > tbody > tr.coupon-row:hover {
    border-color: transparent;
}

.history-table > tbody > tr.coupon-row:hover > td > div {
    background-color: #3a4e93;
    color: white;
}

.history-table > tbody > tr.history-row-spacer {
    height: 15px;
}

.history-table > tbody > tr > td {
    padding: 0;
    border-top: none;
    font-size: 18px;
    color: #535457;
}

.history-table > tbody > tr > td > div {
    background-color: white;
    height: 105px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.history-table > tbody > tr > td:first-child div {
    padding-left: 30px;
}

.history-outer-content > div:last-child {
    margin-top: 10px;
    height: 40px;
}

.pagination.ng-table-pagination {
    margin-bottom: 0;
}

.history-content {
    background-color: #EBEEF4;
    margin-bottom: 0;
    font-family: Roboto-Regular;
}

.history-coupon-title-span {
    max-height: 3em;
    font-size: 15px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    padding-left: 20px;
}

.history-item-status {
    color: white;
    border-radius: 3px;
    padding: 4px 7px;
    font-size: 15px;
    color: white;
    display: inline-block;
}

.history-days-remained {
    font-size: 15px;
}

.history-item-status.review {
    background-color: #2aabd2;
}

.history-item-status.rejected {
    background-color: #EE5757;
}

.history-item-status.active {
    background-color: #93C054;
}

.history-item-status.paused {
    background-color: #8a6d3b;
}

.history-item-status.finished {
    background-color: #FF004C;
}

.history-item-new-version-review-status {
    width: 140px;
}

.history-item-new-version-rejected-status {
    width: 120px;
}

.history-item-new-version-review-status,
.history-item-new-version-rejected-status {
    margin-top: 10px;
}

.history-actions-cell {
    position: relative;
}

.history-delete-btn-wrapper {
    position: relative;
    height: inherit !important;
}

.history-delete-btn {
    position: absolute;
    background: url('/resources/img/delete_psv.png') no-repeat;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    top: 50px;
    right: -42px;
    outline: none;
}

.history-delete-btn-first {
    top: 41px;
}

.history-delete-btn:hover , .history-delete-btn:active {
    background: url('/resources/img/delete_act.png') no-repeat;
}

.history-actions-wrapper {
    text-align: right;
    margin-right: 30px;
}

.history-table > tbody > tr.coupon-row button {
    width: 48px;
    min-height: 48px;
    height: 48px;
    min-width: 48px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.history-actions-wrapper > button:nth-child(1) {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.history-actions-wrapper > button:nth-last-child(1) {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.history-extend-btn {
    background: url('/resources/img/extend_psv.png') no-repeat center;
}

.history-edit-btn {
    background: url('/resources/img/edit_psv.png') no-repeat center;
}

.history-raise-btn {
    background: url('/resources/img/up_psv.png') no-repeat center;
}

.history-to-pocket-btn {
    background: url('/resources/img/send_psv.png') no-repeat center;
}

.history-fix-btn {
    background: url('/resources/img/pin_psv.png') no-repeat center;
}

.history-table > tbody > tr.coupon-row:hover .history-extend-btn {
    background: url('/resources/img/extend_act.png') no-repeat center;
}

.history-table > tbody > tr.coupon-row:hover .history-edit-btn {
    background: url('/resources/img/edit_act.png') no-repeat center;
}

.history-table > tbody > tr.coupon-row:hover .history-raise-btn {
    background: url('/resources/img/up_act.png') no-repeat center;
}

.history-table > tbody > tr.coupon-row:hover .history-to-pocket-btn {
    background: url('/resources/img/send_act.png') no-repeat center;
}

.history-table > tbody > tr.coupon-row:hover .history-fix-btn {
    background: url('/resources/img/pin_act.png') no-repeat center;
}

.history-coupon-image-inner-block {
    display: block;
    padding: 0 !important;
    text-align: left;
}

.history-coupon-image-inner-block > a {
    width: 16px;
    height: 9px;
    display: inline-block;
    margin-right: 30px;
}

.history-table > tbody > tr.coupon-row .history-coupon-image-inner-block > a.history-coupon-expand-box {
    background: url("/resources/img/history_expand_arrow.png");
}

.history-table > tbody > tr.coupon-row:hover .history-coupon-image-inner-block > a.history-coupon-expand-box {
    background: url("/resources/img/history_expand_hover_arrow.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.history-table > tbody > tr.coupon-row .history-coupon-image-inner-block > a.history-coupon-hide-box {
    background: url("/resources/img/history_expand_arrow.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.history-table > tbody > tr.coupon-row:hover .history-coupon-image-inner-block > a.history-coupon-hide-box {
    background: url("/resources/img/history_expand_hover_arrow.png");
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.history-coupon-row-expanded {
    border: none !important;
}

.history-coupon-row-expanded > td > div {
    background-color: #3a4e93 !important;
    color: white;
}

.history-coupon-row-expanded .history-extend-btn {
    background: url('/resources/img/extend_act.png') no-repeat center;
}

.history-coupon-row-expanded .history-edit-btn {
    background: url('/resources/img/edit_act.png') no-repeat center;
}

.history-coupon-row-expanded .history-raise-btn {
    background: url('/resources/img/up_act.png') no-repeat center;
}

.history-coupon-row-expanded .history-to-pocket-btn {
    background: url('/resources/img/send_act.png') no-repeat center;
}

.history-coupon-row-expanded .history-fix-btn {
    background: url('/resources/img/pin_act.png') no-repeat center;
}

.history-edit-btn:hover, .history-raise-btn:hover,
.history-extend-btn:hover, .history-to-pocket-btn:hover,
.history-fix-btn:hover {
    opacity: 0.5;
}

.history-coupon-extra-row {
    background-color: white;
    height: 250px;
}

.history-coupon-extra-info-cell {
    text-align: left;
    padding-top: 25px !important;
    padding-bottom: 15px !important;
}

.history-coupon-extra-info-cell > div {
    display: block !important;
    height: auto !important;
    font-size: 15px;
    color: #6F6F6F;
}

.history-coupon-extra-info-cell > div > span {
    color: #8A8989;
}

.history-likes-and-comments-block {
    max-height: 25px;
    height: 25px !important;
    margin: 25px 15px 25px;
    justify-content: center;
    display: flex;
    flex-direction: row !important;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 0;
}

.history-likes-and-comments-block > div {
    height: 100%;
    display: inline-block;
}

.history-likes-block {
    margin-right: 1px;
    background: url('/resources/img/like.png') no-repeat 0 3px;
    padding-left: 25px !important;
}

.history-comments-block {
    background: url('/resources/img/comm.png') no-repeat 0 3px;
    padding-left: 23px !important;
    margin-right: 80px;
}

.history-reviews-block {
    background: url('/resources/img/eye.png') no-repeat 0 6px;
    padding-left: 28px !important;
    margin-right: 80px;
}

.history-likes-and-comments-block > div > span {
    color: #595959;
    font-family: Roboto-Medium;
    font-size: 18px;
    display: inline-block;
}

.history-chart-wrapper {
    width: 500px;
    height: 230px !important;
    margin-top: 13px;
}

.history-chart-wrapper > div {
    width: inherit;
    height: inherit;
}

.history-chart-wrapper > div > canvas {
    width: inherit;
    height: inherit;
}

.history-to-pockets-count-input {
    border: solid 1px #C2C2C2;
    border-radius: 6px;
    outline: 0;
    width: 100%;
    height: 30px;
    text-indent: 15px;
}

.history-ellipsis {
    overflow: hidden;
    height: 8em;
    max-height: 8em;
    line-height: 25px;
    margin: 20px;
    margin-left: 0;
    width: 368px;
}

.history-ellipsis p {
    max-height: 8em;
    overflow: hidden;
    height: 8em;
}