<md-dialog class="alert-dialog-wrapper">
    <div class="alert-dialog-container">

        <h3>{{ title }}</h3>
        <span>
            {{ text }}
        </span>


        <md-button class="submit-btn" ng-click="cancel()">Закрыть</md-button>
    </div>
</md-dialog>