.alert-dialog-wrapper {
    width: 460px;
    min-width: 460px;
    background: transparent;
    box-shadow: none;
    overflow: visible;
}

.alert-dialog-container {
    width: 460px;
    min-width: 460px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    color: #636363;
    position: relative;
    margin-top: 30px;
}

.alert-dialog-container h3 {
    font-family: Roboto-Medium;
    font-size: 24px;
    color: #000000;
    margin: 46px 0 29px;
}

.alert-dialog-container span {
    display: block;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #595959;
    margin-bottom: 22px;
    padding: 0 20px;
}

.alert-dialog-container button {
    width: 220px;
    height: 40px;
    font-family: Roboto-Medium;
    font-size: 18px;
    text-transform: none;
    padding: 0;
}


.alert-dialog-container .submit-btn {
    background-color: #3a4e93;
}

.alert-dialog-container .submit-btn > span {
    color: white;
    margin-bottom: 0;
}