<md-dialog class="extending-dialog-wrapper" ng-cloak>

    <div class="extending-dialog-container">
        <div class="dialog-icon"></div>

        <h3>Продление акции</h3>

        <span>Выберите дату окончания публикации:</span>

        <md-datepicker ng-model="date" md-placeholder="{{ placeholder }}"
                       md-date-filter="dateFilter" ng-change="calcBackgroundPrice()" md-open-on-focus>
        </md-datepicker>

                <h2 class=""
                      ng-bind="'Стоимость составит: ' + backgroundColorPrice.price +  ' руб.'">
                    Стоимость составит: {{ backgroundColorPrice.price }} руб.
                </h2>

        <md-button class="submit-btn" ng-click="submit()" ng-disabled="submitDisabled()">Продлить</md-button>
        <md-button class="cancel-btn" ng-click="cancel()">Отмена</md-button>
    </div>

</md-dialog>