<md-dialog class="error-payment-dialog-wrapper">
    <div class="error-payment-dialog-container">
        <div class="payment-delete-cross"></div>

        <h2>Ошибка!</h2>
        <span>Во время оплаты произошла</span>
        <span>ошибка,</span>
        <span>попробуйте снова!</span>

        <form method="POST" action="/robokassa/pay">
            <input type="hidden" name="count" value="{{payment.count}}">
            <md-button type="submit">Попробовать</md-button>
        </form>
    </div>
</md-dialog>