<md-dialog class="fixing-dialog-wrapper">
    <div class="fixing-dialog-container">
        <div class="dialog-icon"></div>

        <h3>Закрепить в топе</h3>
        <span>
            Акция будет в течение суток показываться в верхней части общей
            ленты. В момент применения услуги акция поднимется на первое место в результатах
            поиска бесплатно. В отличие от обычных акций, закрепленная акция всегда на виду, и об
            вашей акции узнают гораздо быстрее!
        </span>

        <h2>Стоимость составит: {{ $root.prices.fixingPrice }} руб.</h2>

        <md-button class="submit-btn" ng-click="submit()">Закрепить</md-button>
        <md-button class="cancel-btn" ng-click="cancel()">Отмена</md-button>
    </div>
</md-dialog>