.not-enough-money-dialog-wrapper{
    width: 460px;
    min-width: 460px;
    background: transparent;
    box-shadow: none;
    overflow: visible;
}

.not-enough-money-dialog-container {
    width: 460px;
    min-width: 460px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    color: #636363;
    position: relative;
    margin-top: 30px;
}


.not-enough-money-dialog-container > .dialog-icon {
    position: absolute;
    background: url('/resources/img/fixing_dialog_icon.png') no-repeat;
    width: 64px;
    height: 64px;
    left: 198px;
    top: -32px
}

.not-enough-money-dialog-container h3 {
    font-family: Roboto-Medium;
    font-size: 24px;
    color: #000000;
    margin: 46px 0 29px;
}

.not-enough-money-dialog-container span {
    display: block;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #595959;
    margin-bottom: 22px;
    padding: 0 20px;
}

.not-enough-money-dialog-container .md-button {
    margin-bottom: 8px;
}

.not-enough-money-dialog-container button {
    width: 220px;
    height: 40px;
    font-family: Roboto-Medium;
    font-size: 18px;
    text-transform: none;
    padding: 0;
}


.not-enough-money-dialog-container .submit-btn {
    background-color: #3a4e93;
}

.not-enough-money-dialog-container .submit-btn > span {
    color: white;
    margin-bottom: 0;
}

.not-enough-money-dialog-container .cancel-btn {
    margin-top: 0;
    background-color: #ebeef4;
}

.not-enough-money-dialog-container .cancel-btn > span {
    color: #b6bbc7;
    margin-bottom: 0;
}