<md-dialog class="not-enough-money-dialog-wrapper">
    <div class="not-enough-money-dialog-container">

        <h3>Невозможно выполнить операцию!</h3>

        <span>На вашем балансе недостаточно средств для осуществления операции.</span>

        <md-button class="submit-btn" ng-click="toPurse()">Пополнить счет</md-button>
        <md-button class="cancel-btn" ng-click="cancel()">Отменить</md-button>
    </div>
</md-dialog>