.success-payment-dialog-wrapper,
.error-payment-dialog-wrapper{
    width: 460px;
    min-width: 460px;
    height: 520px;
    min-height: 520px;
    background: transparent;
    box-shadow: none;
}

.success-payment-dialog-container {
    width: 460px;
    height: 460px;
    min-width: 460px;
    min-height: 460px;
    background-color: white;
    border-top: solid 10px #a3d801;
    border-radius: 8px;
    text-align: center;
    color: #636363;
    position: relative;
    margin-top: 60px;
}

.success-payment-dialog-container > .payment-checked {
    position: absolute;
    background: url('/resources/img/success_payment_dialog_checked.png') no-repeat;
    width: 117px;
    height: 117px;
    left: 171px;
    top: -60px
}

.success-payment-dialog-container > h2,
.error-payment-dialog-container > h2 {
    font-family: Roboto-Bold;
    font-size: 35px;
    margin: 155px 0 25px;
}

.success-payment-dialog-container > span,
.error-payment-dialog-container > span {
    font-family: Roboto-Regular;
    font-size: 22px;
    line-height: 1;
    padding-bottom: 5px;
    display: block;
}

.success-payment-dialog-container > button {
    font-family: Roboto-Medium;
    font-size: 18px;
    color: white;
    background-color: #a3d801;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    text-transform: none;
    margin: 45px auto 0;
}


.error-payment-dialog-container {
    width: 460px;
    height: 460px;
    min-width: 460px;
    min-height: 460px;
    background-color: white;
    border-top: solid 10px #fe5e5e;
    border-radius: 8px;
    text-align: center;
    color: #636363;
    position: relative;
    margin-top: 60px;
}

.error-payment-dialog-container > .payment-delete-cross {
    position: absolute;
    background: url('/resources/img/error_payment_delete-cross.png') no-repeat;
    width: 117px;
    height: 117px;
    left: 171px;
    top: -60px
}

.error-payment-dialog-container > form > button {
    font-family: Roboto-Medium;
    font-size: 18px;
    color: white;
    background-color: #fe5e5e;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    text-transform: none;
    margin: 45px auto 0;
}