<md-dialog class="raising-dialog-wrapper">
    <div class="raising-dialog-container">
        <div class="dialog-icon"></div>

        <h3>Поднять вверх</h3>
        <span>
            Акция поднимается на первое место в результатах поиска, как если бы оно было только
            что подано на сайт. Каждый день на karman.site размещают новые акции. Со временем
            акция опускается в поиске, и покупателям становится сложно её найти. После поднятия
            ваша акция опять окажется наверху, и вы расскажете об акции быстрее.
        </span>
        <h2>Стоимость составит: {{ $root.prices.raisingPrice }} руб.</h2>

        <md-button class="submit-btn" ng-click="submit()">Поднять</md-button>
        <md-button class="cancel-btn" ng-click="cancel()">Отмена</md-button>
    </div>
</md-dialog>