<md-dialog class="success-payment-dialog-wrapper">
    <div class="success-payment-dialog-container">
        <div class="payment-checked"></div>

        <h2>Готово!</h2>
        <span>Оплата завершена успешно,</span>
        <span>вам зачислено</span>
        <span>{{ ::payment.count }} руб.</span>

        <md-button ng-click="cancel()">Ок</md-button>
    </div>
</md-dialog>