.to-pockets-dialog-wrapper{
    width: 485px;
    min-width: 485px;
    background: transparent;
    box-shadow: none;
    overflow: visible;
}

.to-pockets-dialog-container {
    width: 485px;
    min-width: 485px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    color: #636363;
    position: relative;
    margin-top: 30px;
}


.to-pockets-dialog-container > .dialog-icon {
    position: absolute;
    background: url('/resources/img/to_pockets_dialog_icon.png') no-repeat;
    width: 64px;
    height: 64px;
    left: 210px;
    top: -32px
}

.to-pockets-dialog-container h3 {
    font-family: Roboto-Medium;
    font-size: 24px;
    color: #000000;
    margin: 46px 0 29px;
}

.to-pockets-dialog-container span {
    display: block;
    font-family: Roboto-Regular;
    font-size: 18px;

}

.ui-select-search {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.to-pockets-dialog-container h2 {
    display: block;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: black;
    margin-bottom: 7px;
    padding: 0 20px;
    text-align: center;
}

.to-pockets-dialog-container .md-button {
    margin-bottom: 8px;
}

.to-pockets-dialog-container button {
    width: 220px;
    height: 40px;
    font-family: Roboto-Medium;
    font-size: 18px;
    text-transform: none;
    padding: 0;
}


.to-pockets-dialog-container .submit-btn {
    background-color: #3a4e93;
    display: block;
    margin: 8px auto;
}

.to-pockets-dialog-container .submit-btn:disabled {
    cursor: not-allowed;
}

.to-pockets-dialog-container .submit-btn > span {
    color: white;
    margin-bottom: 0;

}

.to-pockets-dialog-container .cancel-btn {
    margin-top: 0;
    background-color: #ebeef4;
}

.to-pockets-dialog-container .cancel-btn > span {
    color: #b6bbc7;
    margin-bottom: 0;
}

.to-pockets-count-input {
    width: 250px;
    height: 40px;
    border: solid 1px #c2c2c2;
    border-radius: 8px;
    font-family: Roboto-Regular;
    font-size: 18px;
    outline: none;
    text-indent: 12px;
    margin-bottom: 7px;
}

.pocket-region-select-container {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 90px;
}

.to-pockets-dialog-container div {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #595959;
}