<md-dialog class="to-pockets-dialog-wrapper" ng-cloak>


    <div class="to-pockets-dialog-container">
        <div class="dialog-icon"></div>

        <h3>Рассылка</h3>

        <span style="margin:15px;">
            Акция рассылается по карманам пользователям мобильных приложений с уведомлением,
            как если бы вы вручили листовку с вашей акцией пользователю лично. Рассылка в разы
            увеличивает просмотры вашей акции, а это значит, что вы продадите товар гораздо
            быстрее!
        </span>

        <h2>Выберите населенный пункт или область:</h2>
            <ui-select ng-model="region.id"
                       title="region"
                       class="pocket-region-select-container"
                       required >
                <ui-select-match placeholder="Начните вводить регион">
                    {{ $select.selected.title }}
                </ui-select-match>
                <ui-select-choices repeat="region in (regions  | filter: $select.title)"
                                   refresh="searchRegions($select.search)">
                    <span class="select-region-title">{{ region.title }} <span ng-if="region.parent_title">({{ region.parent_title }})</span></span>
                </ui-select-choices>
            </ui-select>
        <br/>

        <h2>Укажите количество пользователей для рассылки:</h2>
        <input type="number" ng-model="count"
               class="to-pockets-count-input" ng-change="onCountChange()">
        <h2 class="create-coupon-background-price-block">
            Стоимость составит: {{$root.prices.forceAddingToFavoritesPerCustomerPrice * count}} руб.
        </h2>

        <md-button ng-disabled="!count || count < 1 || start" type="submit" class="submit-btn" ng-click="submit()">
            Применить
        </md-button>
        <md-button class="cancel-btn" ng-click="cancel()">Отмена</md-button>

    </div>
    <div ng-show="loading" style="z-index: 10;  width: 100%;  height: 100%;  position: absolute;  margin-top: 40%;  margin-left: 27%;">
    <img src="/resources/img/spinner.svg"/>
    </div>
</md-dialog>