<div ng-controller="newCouponsController" layout-fill layout="column" class="inset">
    <md-content>
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Новые акции</span>
            </div>
        </md-toolbar>

        <table ng-table="tableParams" class="table text-center" >
            <tr ng-repeat="coupon in $data">
                <td title="'Компания'">
                    {{coupon.companyName}}
                </td>
                <td title="'Описание'">
                    {{coupon.description}}
                </td>
                <td title="'Создана'">
                    {{ coupon.created.dayOfMonth }}.{{ coupon.created.monthValue }}.{{ coupon.created.year }}
                </td>
                <td title="'Действия'">
                    <md-button class="md-raised md-button" ng-click="showCouponDialog(coupon)">Просмотр</md-button>
                    <md-button class="md-raised md-warn" ng-click="reject(coupon)">Отклонить</md-button>
                    <md-button class="md-raised md-primary" ng-click="confirm(coupon)">Принять</md-button>
                </td>
            </tr>
        </table>

    </md-content>

</div>