.menu-btn {
    width: 56px;
    height: 56px;
    min-width: 56px;
    margin: 0 8px !important;
}

.menu-icon {
    background: none;
    border: none;
}

.menu-item {
    background: none;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    color: #333;
    font-size: inherit;
    line-height: 40px;
    max-height: 40px;
    opacity: 1;
    margin: 0;
    outline: none;
    padding: 0px 28px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height, background-color, opacity;
    -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height, background-color, opacity;
    transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height, background-color, opacity;
}
.menu-item.ng-hide {
    max-height: 0;
    opacity: 0;
}
.menu-item:hover {
    color: #999;
}
.menu-item:focus {
    font-weight: bold;
}
.menu-item.menu-title {
    color: #888;
    font-size: 14px;
    padding-left: 16px;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.menu-item.menu-title:hover,
.menu-item.menu-title.active {
    color: #1976d2;
}

.admin-content{
    margin: 0 auto;
    max-width: 960px;
}

.coupon-view-dialog-container {
    max-width: 450px;
    max-height: 700px;
}