.coupon-presentation {
    width: 425px;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}

.coupon-presentation-flag-block-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
}

.coupon-presentation-flag-block {
    height: 45px;
    display: inline-block;
}

.coupon-presentation-discount-block {
    background: black;
    position: absolute;
    width: 145px;
    height: 45px;
    top: 40px;
    text-indent: 15px;
}

.coupon-presentation-discount-span {
    line-height: 2.1;
    padding: 0 10px 0 15px;
    font-size: 24px;
    font-family: Roboto-Regular;
}

.coupon-presentation-discount-span > span,
.coupon-presentation-discount-gift-p > i {
    font-size: 14px;
    font-weight: bold;
}

.coupon-presentation-gift-span {
    /*background: url('/resources/img/gift_iconw.png') no-repeat center;*/
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
    margin: 0 12px 0 14px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
}

.coupon-presentation-discount-gift-p {
    line-height: 1.4;
    padding: 8px 45px 2px 9px;
    margin-right: 7px;
    font-size: 24px;
    font-family: Roboto-Regular;
    background-position: center right 5px;
    background-repeat: no-repeat;
    /*background: url('/resources/img/gift_iconw.png') no-repeat center right 5px;*/
}

.coupon-presentation-price-span {
    line-height: 2.1;
    padding: 0 10px 0 15px;
    font-size: 24px;
    font-family: Roboto-Regular;
}

.coupon-presentation-price-span .from-text {
    font-size: 18px;
}

.coupon-presentation-price-span .currency-text {
    font-size: 16px;
    font-family: PT-Sans-Regular;
}

.coupon-presentation-discount-block-top-triangle {
    display: inline-block;
    border-width: 23px 14px 0 0;
    border-style: solid;
    width: 0;
    height: 0;
    top: 0;
    vertical-align: top;
    margin-left: -4px;
}

.coupon-presentation-discount-block-bottom-triangle {
    display: inline-block;
    border-width: 23px 0 0 14px;
    border-style: solid;
    width: 0;
    height: 0;
    bottom: 0;
    vertical-align: bottom;
    margin-left: -18px;
}

.coupon-presentation-image-block {
    width: 100%;
    border-radius: 10px;
    background-size: cover !important;
}

.coupon-presentation-text-block {

}

.coupon-presentation-title-span {
    font-family: Roboto-Regular;
    font-size: 20px;
    margin-top: 12px;
    height: 3em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coupon-presentation-remained-span {
    bottom: 15px;
    display: block;
    background: url('/resources/img/watch.png') no-repeat;
    background-size: 24px;
    height: 24px;
    text-indent: 32px;
    color: #67676a;
    font-size: 16px;
}

.coupon-presentation-info-block {
    position: relative;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px 25px 15px 15px;
}

.coupon-presentation-info-block > span {
    font-family: Roboto-Medium;
    font-size: 20px;
    line-height: 1;
    color: white;
    text-transform: uppercase;
}

.coupon-presentation-info-block > p {
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #EDEDED;
    padding-top: 1px;
    height: 3em;
    overflow: hidden;
    margin-bottom: 13px;
}

.coupon-presentation-info-block > div {
    height: 25px;
}

.coupon-presentation-info-block > div > div {
    display: inline-block;
    margin-left: 5px;
    color: white;
    vertical-align: middle;
}