<div class="company-content">

    <md-tabs md-dynamic-height md-border-bottom class="create-coupon-stepper"
             md-selected="selectedTabIndex">
        <md-tab label="Заполните данные" ng-disabled="selectedTab != 0">

            <md-content>

                <div class="create-coupon-data-inner-content">

                    <h3 style="margin-top: 85px; margin-bottom: 21px;">
                        Что размещаем?
                    </h3>

                    <ui-select ng-model="coupon.category">

                        <ui-select-match placeholder="Выберите категорию">
                            {{ $select.selected.title }}
                        </ui-select-match>
                        <ui-select-choices repeat="category in (categories  | filter: $select.title)"
                                           refresh="searchCategories($select.search)"
                                           refresh-delay="300">
                            {{ category.title }}
                        </ui-select-choices>

                    </ui-select>

                    <md-radio-group layout="row" class="create-coupon-type-radio-group"
                                    ng-model="selectedCouponType"
                                    ng-change="onCouponTypeChange(selectedCouponType)">
                        <md-radio-button ng-repeat="type in couponTypes"
                                         ng-value="type.value"
                                         class="md-primary">
                            <span class="create-coupon-type-radio-span">{{ type.label }}</span>
                            <div ng-class="type.class"></div>
                        </md-radio-button>
                    </md-radio-group>

                    <h3 style="margin-top: 58px; margin-bottom: 24px;">Цвет флажка:</h3>

                    <md-radio-group layout="row" class="create-coupon-color-radio-group"
                                    ng-model="coupon.flagColorHex">

                        <md-radio-button
                                ng-value="'#FFFFFF'"
                                class="md-primary">
                            <div style="background-color: #FFFFFF;" class="create-coupon-color"></div>
                        </md-radio-button>

                        <md-radio-button ng-if="isFlagColorDeleted()"
                                         ng-value="coupon.deletedflagColorHex"
                                         class="md-primary">
                            <div ng-style="{'background-color': coupon.deletedflagColorHex}"
                                 class="create-coupon-color"></div>
                        </md-radio-button>

                        <md-radio-button ng-repeat="color in colors"
                                         ng-value="color.colorHex"
                                         class="md-primary">
                            <div ng-style="{'background-color': color.colorHex}" class="create-coupon-color"></div>
                        </md-radio-button>
                    </md-radio-group>

                    <h3 ng-if="coupon.couponType.type != 'GIFT'" style="margin-top: 30px; margin-bottom: 25px;">
                        Укажите ключевую информацию об акции:
                    </h3>

                    <h3 ng-if="coupon.couponType.type == 'GIFT'" style="margin-top: 30px; margin-bottom: 25px;">
                        Кратко опишите что вы дарите:
                    </h3>


                    <div ng-if="coupon.couponType.type == 'DISCOUNT'" class="create-coupon-discount-wrapper">
                        <input type="number" min="1" max="100" class="create-coupon-data-discount-input"
                               ng-model="coupon.couponType.discount" placeholder="Размер скидки">
                        <span>%</span>
                    </div>

                    <div ng-if="coupon.couponType.type == 'GIFT'" class="create-coupon-gift-wrapper">
                        <input ng-model="coupon.couponType.giftTitle" maxlength="100" input-max-length-number
                               placeholder="Название подарка, например: Перьевая ручка Parker Urban F-200"
                               style="margin-bottom: 25px;">

                        <textarea ng-maxlength="1000" input-max-length-number
                                  class="create-coupon-gift-description-text-area"
                                  ng-model="coupon.couponType.giftCondition" ng-trim="true"
                                  placeholder="Условия получения подарка, например:
Чтобы получить в подарок ручку Parker Urban F-200 вам необходимо совершить
покупку на сумму 1000 руб. в любом нашем магазине до 15:00 01.09.2016г.">
                        </textarea>
                        <textarea ng-maxlength="1000" input-max-length-number class="create-coupon-gift-description-text-area"
                                  ng-model="coupon.couponType.giftDescription" ng-trim="true" input-max-length-number
                                  placeholder="Описание подарка, например:
Перьевая ручка с колпачком 
Материал корпуса: Нержавеющая сталь
Покрытие корпуса: Хром 
Материал отделки деталей корпуса: Хром
Перо: Нержавеющая сталь 
Выгравированный логотип PARKER на декоративном хромированном кольце
Комплектация: Фирменная упаковка, 1 катридж синего цвета, руководство по
эксплуатации с гарантийным талоном.">
                        </textarea>

                        <div class="create-coupon-images-block">
                            <div class="create-coupon-image-wrapper static-upload-btn" id="file"
                                 ngf-drop="uploadImage($file, true, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                                 ngf-select="uploadImage($file, true, $invalidFiles)" ng-disabled="coupon.giftImage">
                                Изображение подарка
                            </div>

                            <div ng-if="coupon.giftImage"
                                 class="create-coupon-image-wrapper coupon-image">
                                <img style="width: inherit; height: inherit;"
                                     src="/images/{{coupon.giftImage}}">
                                <md-button ng-click="removeGiftImage()"
                                           class="create-coupon-remove-image-btn">
                                </md-button>
                            </div>

                            <div ng-if="!coupon.giftImage"
                                 class="create-coupon-image-wrapper dropable-image-area"
                                 ngf-drop="uploadImage($file, true, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                                 ngf-select="uploadImage($file, true, $invalidFiles)">
                                <span>+</span>
                            </div>
                        </div>
                    </div>

                    <div ng-if="coupon.couponType.type == 'DISCOUNT_GIFT'" class="create-coupon-discount-gift-wrapper">
                        <input type="number" min="1" max="100" class="create-coupon-data-discount-input"
                               ng-model="coupon.couponType.discount" placeholder="Размер скидки">
                        <span>%</span>

                        <input class="create-coupon-data-title-input" type="text" ng-maxlength="100" input-max-length-number
                               ng-model="coupon.title" ng-trim="true"
                               placeholder="Краткое описание акции, например: Все меню кафе «Океан» со скидкой 50%">
                        </input>


                    <textarea ng-maxlength="1000" input-max-length-number class="create-coupon-description-text-area"
                              ng-model="coupon.description" ng-trim="true"
                              placeholder="Условия проведения акции, например:
Для того чтобы воспользоваться 50% процентной скидкой в кафе «Океан» вам необходимо:
- Получить код скидки по почте 123456@ya.ru в теме письма укажите Скидка 50%.
- Забронировать столик с помощью полученного кода по телефону +7 (123) 456-78- 90
и т. п.">
                    </textarea>

                        <div ng-if="coupon.couponType.type == 'DISCOUNT_GIFT'" class="create-coupon-data-date-to-block">
                            <md-datepicker ng-model="coupon.dateTo"
                                           ng-change="calcBackgroundPrice()"
                                           md-date-filter="dateToFilter"
                                           md-placeholder="Выберите дату окончания акции"
                                           md-open-on-focus
                            >
                            </md-datepicker>
                        </div>


                        <ui-select ng-if="coupon.couponType.type == 'DISCOUNT_GIFT'" ng-model="coupon.region"
                                   class="region-select-container">

                            <ui-select-match placeholder="Начните вводить регион">
                                {{ $select.selected.title }}
                            </ui-select-match>
                            <ui-select-choices repeat="region in (regions  | filter: $select.title)"
                                               refresh="searchRegions($select.search)">
                               {{ region.title }} <div ng-if="region.parent_title">({{ region.parent_title }})</div>
                            </ui-select-choices>

                        </ui-select>


                        <div ng-if="coupon.couponType.type == 'DISCOUNT_GIFT'" class="create-coupon-images-block">
                            <div ng-if="!coupon.images.length" class="create-coupon-image-wrapper static-upload-btn"
                                 ngf-drop="uploadImage($file, false, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                                 ngf-select="uploadImage($file, false, $invalidFiles)" ng-disabled="imagesAvailable() <= 0">
                                Прикрепить изображение
                            </div>

                            <div ng-repeat="image in coupon.images"
                                 class="create-coupon-image-wrapper coupon-image">
                                <img style="width: inherit; height: inherit;"
                                     src="/images/{{image}}">
                                <md-button ng-click="removeCouponImage(image)"
                                           class="create-coupon-remove-image-btn">
                                </md-button>
                            </div>

                            <div ng-if="imagesAvailable() > 0"
                                 class="create-coupon-image-wrapper dropable-image-area"
                                 ngf-drop="uploadImage($file, false, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                                 ngf-select="uploadImage($file, false, $invalidFiles)">
                                <span>+</span>
                            </div>
                        </div>


                        <h3 style="margin-top: 40px; margin-bottom: 25px;">
                            Кратко опишите что вы дарите:
                        </h3>

                        <input ng-model="coupon.couponType.giftTitle"
                               placeholder="Название подарка, например: Перьевая ручка Parker Urban F-200"
                               maxlength="100" input-max-length-number
                               style="margin-bottom: 25px;">

                        <textarea ng-maxlength="1000" input-max-length-number
                                  class="create-coupon-gift-description-text-area"
                                  ng-model="coupon.couponType.giftCondition" ng-trim="true"
                                  placeholder="Условия получения подарка, например:
Чтобы получить в подарок ручку Parker Urban F-200 вам необходимо совершить
покупку на сумму 1000 руб. в любом нашем магазине до 15:00 01.09.2016г.">
                        </textarea>
                        <textarea ng-maxlength="1000" input-max-length-number class="create-coupon-gift-description-text-area"
                                  ng-model="coupon.couponType.giftDescription" ng-trim="true"
                                  placeholder="Описание подарка, например:
Перьевая ручка с колпачком 
Материал корпуса: Нержавеющая сталь
Покрытие корпуса: Хром 
Материал отделки деталей корпуса: Хром
Перо: Нержавеющая сталь 
Выгравированный логотип PARKER на декоративном хромированном кольце
Комплектация: Фирменная упаковка, 1 катридж синего цвета, руководство по
эксплуатации с гарантийным талоном.">
                        </textarea>

                        <div class="create-coupon-images-block">
                            <div class="create-coupon-image-wrapper static-upload-btn"
                                 ngf-drop="uploadImage($file, true, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                                 ngf-select="uploadImage($file, true, $invalidFiles)" ng-disabled="coupon.giftImage">
                                Изображение подарка
                            </div>

                            <div ng-if="coupon.giftImage"
                                 class="create-coupon-image-wrapper coupon-image">
                                <img style="width: inherit; height: inherit;"
                                     src="/images/{{coupon.giftImage}}">
                                <md-button ng-click="removeGiftImage()"
                                           class="create-coupon-remove-image-btn">
                                </md-button>
                            </div>

                            <div ng-if="!coupon.giftImage"
                                 class="create-coupon-image-wrapper dropable-image-area"
                                 ngf-drop="uploadImage($file, true, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                                 ngf-select="uploadImage($file, true, $invalidFiles)">
                                <span>+</span>
                            </div>
                        </div>
                    </div>

                    <div ng-if="coupon.couponType.type == 'PRICE'" class="create-coupon-price-wrapper">
                        <span>от</span>
                        <input type="number" min="1" class="create-coupon-data-price-input"
                               ng-model="coupon.couponType.price" placeholder="Ценовое предложение"
                               style="margin-bottom: 25px;">
                        <span>руб.</span>
                    </div>


                    <input ng-if="coupon.couponType.type != 'DISCOUNT_GIFT' && coupon.couponType.type != 'GIFT'
                                    && coupon.couponType.type != 'PRICE'"
                           class="create-coupon-data-title-input" type="text" maxlength="100" input-max-length-number
                           ng-model="coupon.title" ng-trim="true"
                           placeholder="Краткое описание акции, например: Все меню кафе «Океан» со скидкой 50%">
                    </input>

                    <input ng-if="coupon.couponType.type == 'PRICE'"
                           class="create-coupon-data-title-input" type="text" ng-maxlength="100" input-max-length-number
                           ng-model="coupon.title" ng-trim="true"
                           placeholder="Краткое описание акции, например: Кухни ведущих европейских брендов от 80000 руб.">
                    </input>

                    <textarea ng-if="coupon.couponType.type != 'DISCOUNT_GIFT' && coupon.couponType.type != 'GIFT'
                                        && coupon.couponType.type != 'PRICE'"
                              ng-maxlength="1000" input-max-length-number
                              class="create-coupon-description-text-area"
                              ng-model="coupon.description" ng-trim="true"
                              placeholder="Условия проведения акции, например:
Для того чтобы воспользоваться 50% процентной скидкой в кафе «Океан» вам необходимо:
- Получить код скидки по почте 123456@ya.ru в теме письма укажите Скидка 50%.
- Забронировать столик с помощью полученного кода по телефону +7 (123) 456-78- 90
и т. п.">
                    </textarea>

                    <textarea ng-if="coupon.couponType.type == 'PRICE'"
                              ng-maxlength="1000" input-max-length-number
                              class="create-coupon-description-text-area"
                              ng-model="coupon.description" ng-trim="true"
                              placeholder="Условия проведения акции, например:
Для того чтобы воспользоваться нашим предложением вам необходимо:
- Стать участником акции. Для этого оставьте заявку по телефону +7 (123) 456-78- 90
- Составьте проект вашей кухни с помощью наших дизайнеров
- Произведите 50% оплату от полной суммы вашего проекта до 10.09.2016г.
и т. п.">
                    </textarea>



                    <div ng-if="coupon.couponType.type != 'DISCOUNT_GIFT'" class="create-coupon-data-date-to-block">
                        <md-datepicker ng-model="coupon.dateTo"
                                       ng-change="calcBackgroundPrice()"
                                       ng-keyup="dateValidateInput()"
                                       md-date-filter="dateToFilter"
                                       md-placeholder="Выберите дату окончания акции"
                                       md-open-on-focus
                        >
                        </md-datepicker>
                    </div>


                    <ui-select ng-if="coupon.couponType.type != 'DISCOUNT_GIFT'" ng-model="coupon.region"
                               class="region-select-container"
                               ng-class="{'region-select-container-margin-bottom': coupon.couponType.type == 'GIFT'}">

                        <ui-select-match placeholder="Начните вводить регион">
                            {{ $select.selected.title }}
                        </ui-select-match>
                        <ui-select-choices repeat="region in (regions  | filter: $select.title)"
                                           refresh="searchRegions($select.search)">
                            {{ region.title }} <div ng-if="region.parent_title">({{ region.parent_title }})</div>
                        </ui-select-choices>

                    </ui-select>


                    <div ng-if="coupon.couponType.type != 'DISCOUNT_GIFT' && coupon.couponType.type != 'GIFT'"
                         class="create-coupon-images-block">
                        <div ng-if="!coupon.images.length" class="create-coupon-image-wrapper static-upload-btn"
                             ngf-drop="uploadImage($file, false, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                             ngf-select="uploadImage($file, false, $invalidFiles)" ng-disabled="imagesAvailable() <= 0">
                            Прикрепить изображение
                        </div>

                        <div ng-repeat="image in coupon.images"
                             class="create-coupon-image-wrapper coupon-image">
                            <img style="width: inherit; height: inherit;"
                                 src="/images/{{image}}">
                            <md-button ng-click="removeCouponImage(image)"
                                       class="create-coupon-remove-image-btn">
                            </md-button>
                        </div>

                        <div ng-if="imagesAvailable() > 0"
                             class="create-coupon-image-wrapper dropable-image-area"
                             ngf-drop="uploadImage($file, false, $invalidFiles)" accept="images/*" ngf-max-size="1MB"
                             ngf-select="uploadImage($file, false, $invalidFiles)">
                            <span>+</span>
                        </div>
                    </div>

                    <div class="create-coupon-contacts-contacts-group-wrapper">
                        <div ng-repeat="contact in coupon.contacts" class="create-coupon-contacts-contact-block">
                            <input ng-model="contact.address" placeholder="Адрес" class="contact contact-address"
                                   ng-click="showGeocoder(contact)" ng-readonly="true">
                            <input ng-model="contact.phoneNumber" placeholder="Телефон" class="contact"
                                   ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
                                   ui-mask-placeholder-char="_">
                            <md-button ng-if="coupon.contacts.length > 1"
                                       class="create-coupon-contacts-remove-contact-btn"
                                       ng-click="removeContact(contact)">
                            </md-button>
                        </div>

                        <div ng-show="!isMaxCountOfContacts()" class="create-coupon-contacts-add-contacts-block">
                            <button type="button" ng-click="newContact()">+</button>
                        </div>
                    </div>

                    <div class="create-coupon-background-color-block">
                        <h3>Цвет фона акции сделает ее заметнее:</h3>
                        <h4 style="margin-bottom: 20px;">Белый фон предоставляется по умолчанию бесплатно</h4>

                        <div style="margin-bottom: 50px;">
                            <md-radio-group layout="row" class="create-coupon-color-radio-group"
                                            ng-model="coupon.backgroundColorHex"
                                            ng-change="calcBackgroundPrice()">

                                <md-radio-button
                                        ng-value="'#FFFFFF'"
                                        class="md-primary">
                                    <div style="background-color: #FFFFFF;" class="create-coupon-color"></div>
                                </md-radio-button>

                                <md-radio-button ng-if="isBackgroundColorDeleted()"
                                                 ng-value="coupon.deletedBackgroundColorHex"
                                                 class="md-primary">
                                    <div ng-style="{'background-color': coupon.deletedBackgroundColorHex}"
                                         class="create-coupon-color"></div>
                                </md-radio-button>

                                <md-radio-button ng-repeat="color in colors"
                                                 ng-value="color.colorHex"
                                                 class="md-primary">
                                    <div ng-style="{'background-color': color.colorHex}"
                                         class="create-coupon-color"></div>
                                </md-radio-button>
                            </md-radio-group>

                            <div class="create-coupon-background-price-wrapper"
                                 ng-if="isNeedToPayForBackgroundColor() && backgroundColorPrice != null">
                                <span class="create-coupon-background-price-description-block">Стоимость до окончания акции:</span>
                                <span
                                        class="create-coupon-background-price-block"
                                        ng-bind="backgroundColorPrice.price + ' руб.'">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="create-coupon-bottom-panel">
                        <md-button ng-click="nextTab()" class="create-coupon-next-tab-button">Далее</md-button>
                    </div>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="Подтверждение" ng-disabled="selectedTab != 1">
            <md-content>

                <div class="create-coupon-confirm-inner-content">
                    <div layout="row" class="create-coupon-confirm-row">

                        <div class="create-coupon-confirm-info-column">
                            <div><span>Название акции: </span> {{ coupon.title }}</div>
                            <div><span>Описание: </span> {{ coupon.description }}</div>
                            <div><span>Дата окончания размещения: </span> {{ dateToFormatted() }}</div>
                            <div><span>Цвет: </span>
                                <div ng-style="{'background': coupon.backgroundColorHex}"
                                     class="create-coupon-confirm-info-background-color-block">
                                </div>
                                {{ coupon.backgroundColorHex }}
                            </div>

                            <div ng-repeat="contact in coupon.contacts">
                                <div><span>Адрес: </span>{{ contact.address }}</div>
                                <div><span>Телефон: </span>{{ contact.phoneNumber }}</div>
                            </div>
                        </div>

                        <div class="create-coupon-confirm-preview-column">
                            <div ng-include="couponViewTemplate"></div>

                            <div class="create-coupon-bottom-panel">
                                <md-button ng-click="prevTab()" class="create-coupon-prev-tab-button"></md-button>
                                <md-button ng-if="!coupon.id" ng-click="saveCoupon()" ng-disabled="savingDisabled()"
                                           class="create-coupon-confirm-btn">
                                    Создать
                                </md-button>
                                <md-button ng-if="coupon.id && coupon.status != 'FINISHED'" ng-click="saveCoupon()" ng-disabled="savingDisabled()"
                                           class="create-coupon-edit-btn">
                                    Редактировать
                                </md-button>
                                <md-button ng-if="coupon.id && coupon.status == 'FINISHED'" ng-click="saveCoupon()" ng-disabled="savingDisabled()"
                                           class="create-coupon-prolong-btn">
                                    Продлить
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>

            </md-content>
        </md-tab>

    </md-tabs>
</div>