.create-coupon-stepper {
}

.create-coupon-stepper > md-tabs-wrapper {
    height: 75px;
    background-color: #6496FF;
}

.create-coupon-stepper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper > md-ink-bar {
    display: none;
}

.create-coupon-stepper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper {
    bottom: 0;
    /*width: 900px !important;*/
    width: 100% !important;
    height: 100%;
}

.create-coupon-stepper > md-tabs-wrapper > md-tabs-canvas {
    height: 100%;
    background-color: #3a4e93;
}

.create-coupon-stepper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper > md-tab-item {
    font-family: Roboto-Regular;
    color: #C5D5F7 !important;
    font-size: 17px;
    text-transform: none;
    padding-top: 26px;
    padding-left: 47px;
    height: 100%;
    opacity: 1 !important;
}

.create-coupon-stepper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper > md-tab-item.md-active {
    font-family: Roboto-Medium;
    color: #FFFFFF !important;
}

.create-coupon-stepper md-tab-item:nth-child(1) {
    margin-left: 22px;
    width: 256px;
    background: url("/resources/img/step_1_passive.png") no-repeat 0px 22px;
}

.create-coupon-stepper md-tab-item.md-active:nth-child(1) {
    background: url("/resources/img/step_1_active.png") no-repeat 0px 22px,
    url("/resources/img/create_coupon_active_tab.png") no-repeat -39px -12px;
}

.create-coupon-stepper md-tab-item:nth-child(2) {
    padding-right: 32px;
    background: url("/resources/img/step_2_passive.png") no-repeat 0px 22px;
}

.create-coupon-stepper md-tab-item.md-active:nth-child(2) {
    background: url("/resources/img/step_2_active.png") no-repeat 0px 22px,
    url("/resources/img/create_coupon_active_tab.png") no-repeat -74px -12px;
}

.create-coupon-stepper md-tab-item:nth-child(3) {
    margin-left: 16px;
    padding-right: 53px;
    background: url("/resources/img/step_3_passive.png") no-repeat 0px 22px;
}

.create-coupon-stepper md-tab-item.md-active:nth-child(3) {
    background: url("/resources/img/step_3_active.png") no-repeat 0px 22px,
    url("/resources/img/create_coupon_active_tab.png") no-repeat -65px -12px;
}

.create-coupon-stepper md-tab-item:nth-child(4) {
    padding-right: 35px;
    background: url("/resources/img/step_4_passive.png") no-repeat 0px 22px;
}

.create-coupon-stepper md-tab-item.md-active:nth-child(4) {
    background: url("/resources/img/step_4_active.png") no-repeat 0px 22px,
    url("/resources/img/create_coupon_active_tab.png") no-repeat -73px -12px;
}

.create-coupon-stepper md-content {
    background-color: white;
    border: solid 1px #DCDFE8;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #686767;
    padding-bottom: 95px;
    overflow-x: hidden;
}

.create-coupon-data-inner-content {
    width: 820px;
    margin: 0 auto;
}

.create-coupon-data-inner-content > h3 {
    color: #535457;
}

.create-coupon-data-inner-content > input[type="text"] {
    width: 100%;
    display: block;
}

.create-coupon-data-inner-content .ui-select-container input[type="search"] {
    width: 100%;
    display: block;
    padding: 0;
    text-indent: 15px;
    height: 43px;
}

.create-coupon-data-inner-content .ui-select-container {
    height: 45px;
    width: 400px;
    display: inline-block;
}

.region-select-container {
    margin-right: 15px;
}

.region-select-container-margin-bottom {
    margin-bottom: 25px;
}

.create-coupon-data-inner-content input,
.create-coupon-data-inner-content .ui-select-toggle {
    height: 45px;
    padding-left: 15px;
    font-size: 16px;
}

.create-coupon-data-inner-content .ui-select-toggle {
    padding-top: 11px;
}

.create-coupon-data-inner-content input,
.create-coupon-data-inner-content textarea {
    width: 100% !important;
    border: solid 1px #C2C2C2;
    border-radius: 6px;
    outline: 0;
}

.create-coupon-data-inner-content input:focus,
.create-coupon-data-inner-content textarea:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.create-coupon-data-inner-content input::-webkit-input-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content input:-moz-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content input::-moz-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content input:-ms-input-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content textarea::-webkit-input-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content textarea:-moz-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content textarea::-moz-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content textarea:-ms-input-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content .ui-select-placeholder {
    color: #C2C2C2;
}

.create-coupon-data-inner-content .ui-select-match-text {
    color: #686767;
}

.create-coupon-data-inner-content textarea {
    padding-left: 15px;
    padding-top: 20px;
}

.create-coupon-description-text-area {
    resize: none;
    height: 180px;
    width: 100%;
    margin: 25px 0;
}

.create-coupon-gift-description-text-area {
    resize: none;
    height: 115px;
    width: 100%;
    margin-bottom: 25px;
}

.create-coupon-data-inner-content > input[type="number"] {
    display: block;
    width: 300px;
}

.create-coupon-bottom-panel {
    height: 95px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #F9F9F9;
    border-top: solid 1px #DCDFE8;
}

.create-coupon-next-tab-button {
    height: 55px;
    width: 160px;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    text-transform: none;
    margin-top: 20px;
    margin-right: 40px;
    background: #3a4e93 url('/resources/img/arrow_follow.png') no-repeat 116px 20px;
    text-align: left;
    text-indent: 34px;
    position: relative;
    left: 657px;
}

.create-coupon-prev-tab-button {
    width: 56px;
    height: 56px;
    background: url('/resources/img/create_coupon_back_arrow.png') no-repeat;
    position: relative;
    left: 40px;
    vertical-align: middle;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.create-coupon-prev-tab-button:hover {
    opacity: 0.5;
}

.create-coupon-data-title-input {
    margin: 0;
}

.create-coupon-data-discount-input {
    margin-bottom: 25px;
    max-width: 245px;
}

.create-coupon-data-price-input {
    max-width: 245px;
}

.create-coupon-discount-wrapper > span,
.create-coupon-discount-gift-wrapper > span,
.create-coupon-price-wrapper > span {
    font-size: 30px;
    color: #c9c9c9;
    display: inline-block;
    vertical-align: middle;
}

.create-coupon-data-date-to-block {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    display: block;
}

.create-coupon-data-date-to-block .md-datepicker-input-container {
    width: 400px;
    margin-left: 0;
}

.create-coupon-data-date-to-block .md-datepicker-input-container > input {
    max-width: 400px;
    margin-left: 0;
}

.create-coupon-data-date-to-block > md-datepicker > button {
    display: none;
}

.create-coupon-data-date-to-block > md-datepicker > div {
    border-bottom: none;
}

.create-coupon-data-date-to-block .md-datepicker-triangle-button {
    top: 10px;
    right: 10px;
}

.create-coupon-data-date-to-block .md-datepicker-input-container {
    min-width: 160px;
}

.create-coupon-data-date-to-block .md-datepicker-input:disabled {
    background-color: rgb(235, 235, 228);
    cursor: not-allowed;
}

.create-coupon-contacts-inner-content {
    width: 820px;
    margin: 0 auto;
    padding-top: 65px;
}

.create-coupon-contacts-inner-content input {
    height: 45px;
    padding-left: 15px;
    font-size: 16px;
    width: 70%;
    border-radius: 6px;
    border: solid 1px #C2C2C2;
    outline: 0;
}

.create-coupon-contacts-inner-content input:focus {
    border-color: #66AFE9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.create-coupon-contacts-inner-content input::-webkit-input-placeholder {
    color: #C2C2C2;
}

.create-coupon-contacts-inner-content input:-moz-placeholder {
    color: #C2C2C2;
}

.create-coupon-contacts-inner-content input::-moz-placeholder {
    color: #C2C2C2;
}

.create-coupon-contacts-inner-content input:-ms-input-placeholder {
    color: #C2C2C2;
}


.create-coupon-contacts-contacts-group-wrapper {
    border-radius: 8px;
    border: solid 1px #C2C2C2;
    margin: 0 auto 30px;
    padding: 8px 0;
}

.create-coupon-contacts-contact-block {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.create-coupon-contacts-contact-block > input.contact {
    width: 398px !important;
}

.create-coupon-contacts-contact-block > input.contact-address {
    margin-right: 5px;
}

.create-coupon-remove-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: url('/resources/img/cancel.png') no-repeat;
    background-size: 30px 30px;
    min-width: 30px;
    min-height: 30px;
}

.create-coupon-remove-image-btn:hover {
    opacity: 0.5;
}

.create-coupon-contacts-remove-contact-btn {
    position: absolute;
    top: 1px;
    right: 9px;
    background: url('/resources/img/cancel.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    min-width: 30px;
    height: 30px;
}

.create-coupon-contacts-remove-contact-btn:hover {
    opacity: 0.5;
    background-color: white !important;
}

.create-coupon-contacts-add-contacts-block {
    text-align: center;
    margin-top: 10px;
}

.create-coupon-contacts-add-contacts-block > button {
    background: url('/resources/img/create_coupon_add_new_contact_dashed_border.png') no-repeat;
    width: 804px;
    height: 45px;
    border: none;
    outline: 0;
    background-size: 804px 45px;
    color: #C2C2C2;
    font-size: 43px;
    line-height: 1;
}

.create-coupon-background-color-block {
    background-color: #f9f9f9;
    width: 960px;
    margin-left: -70px;
    padding: 0 70px;
    border: 1px dashed #dcdfe8;
    margin-bottom: 25px;
    height: 200px;
    border-right: none;
    border-left: none;
    position: relative;
}

.create-coupon-background-color-block h4 {
    color: #c2c2c2;
}

.create-coupon-personalization-inner-content {
    margin: 0 auto;
    width: 950px;

}

.create-coupon-personalization-row {
    margin: 35px 0;
}

.create-coupon-personalization-background-color-pick-column {
    position: relative;
    width: 460px;
    margin-right: 30px;
    height: 500px;
    border: solid 1px #C2C2C2;
    border-radius: 8px;
    text-align: center;
}

.create-coupon-personalization-background-color-pick-column > span {
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #6E6E70;
    display: block;
    padding-top: 20px;
}

#create-coupon-personalization-color-picker {
    cursor: url("/resources/img/color-wheel-cursor.png") 6 6, default;
}

.create-coupon-personalization-picked-color-block-wrapper {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

.create-coupon-personalization-picked-color-block {
    position: relative;
    margin: 0 auto;
    width: 140px;
    height: 45px;
    border: solid 1px #C2C2C2;
    top: 33px;
    border-radius: 7px;
    text-align: start;
}

#colorBlock {
    width: 16px;
    height: 16px;
    margin-top: 14px;
    margin-left: 27px;
    display: inline-block;
    border-radius: 4px;
}

#hexVal {
    vertical-align: text-bottom;
    font-size: 17px;
    display: inline-block;
}

.create-coupon-personalization-image-pick-column {
    width: 460px;
    height: 500px;
    border: dashed 2px #D8D8D8;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.create-coupon-personalization-image-pick-column > span {
    font-family: Roboto-Medium;
    font-size: 20px;
    display: block;
    padding-top: 25px;
}

.create-coupon-personalization-image-pick-block-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url('/resources/img/upload_image.png') no-repeat center 115px transparent;
    color: #6E6E70;
    top: 0;
}

.create-coupon-personalization-image-pick-block-wrapper > p {
    font-family: Roboto-Regular;
    font-size: 20px;
    margin-top: 245px;
}

.create-coupon-personalization-image-pick-block-wrapper > p > a {
    font-family: Roboto-Medium;
    color: #527EF9;
}

.create-coupon-personalization-image-picked-block {
    width: 100%;
    height: 440px;
}

.create-coupon-personalization-image-picked-block > img {
    max-width: 98%;
    max-height: 100%;
}

.create-coupon-confirm-inner-content {
    margin: 50px 0 80px 0;
    width: 100%;
}

.create-coupon-confirm-row {

}

.create-coupon-confirm-info-column {
    width: 450px;
    padding-left: 50px;
    font-size: 18px;
    color: #4B4B4B;
    margin-right: 30px;
}

.create-coupon-confirm-info-column > div {
    margin-bottom: 3px;
    word-break: break-word;
    text-align: justify;
}

.create-coupon-confirm-info-background-color-block {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
}

.create-coupon-confirm-info-column span {
    color: #8A8989;
}

.create-coupon-confirm-preview-column {

}

.create-coupon-confirm-btn {
    height: 55px;
    width: 160px;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    text-transform: none;
    margin-top: 20px;
    margin-right: 40px;
    text-align: left;
    text-indent: 34px;
    position: relative;
    left: 657px;
    background: #3a4e93;
}

.create-coupon-edit-btn {
    height: 55px;
    width: 216px;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    text-transform: none;
    margin-top: 20px;
    margin-right: 40px;
    text-align: left;
    text-indent: 34px;
    position: relative;
    left: 602px;
    background: #3a4e93;
}

.create-coupon-prolong-btn {
    height: 55px;
    width: 216px;
    border-radius: 27px;
    color: white;
    font-size: 20px;
    text-transform: none;
    margin-top: 20px;
    text-align: center;
    position: relative;
    left: 602px;
    background: #3a4e93;
}

.create-coupon-type-radio-group {
    margin-top: 20px;
}

.create-coupon-type-radio-group > md-radio-button {
    margin-right: 40px !important;
    position: relative;
}

.create-coupon-type-radio-group > md-radio-button ._md-label {
    margin-left: 0;
}

.create-coupon-type-radio-group > md-radio-button > .md-ink-ripple {
    bottom: -45px ;
    top: inherit !important;
}

.create-coupon-type-radio-group > md-radio-button[value="DISCOUNT"] > .md-ink-ripple {
    left: 35px;
}

.create-coupon-type-radio-group > md-radio-button[value="GIFT"] > .md-ink-ripple {
    left: 21px;
}

.create-coupon-type-radio-group > md-radio-button[value="DISCOUNT_GIFT"] > .md-ink-ripple {
    left: 57px;
}

.create-coupon-type-radio-group > md-radio-button[value="PRICE"] > .md-ink-ripple {
    left: 65px;
}

.create-coupon-type-radio-group > md-radio-button > ._md-container {
    top: 44px;
}

.create-coupon-type-radio-group > md-radio-button > ._md-container > ._md-on,
.create-coupon-color-radio-group > md-radio-button > ._md-container > ._md-on {
    background-color: #4297ff;
}

.create-coupon-type-radio-group > md-radio-button.md-checked > ._md-container > ._md-off,
.create-coupon-color-radio-group > md-radio-button.md-checked > ._md-container > ._md-off {
    border-color: #4297ff;
}

.create-coupon-type-discount-div,
.create-coupon-type-gift-div,
.create-coupon-type-discount-gift-div,
.create-coupon-type-price-div {
    height: 48px;
}

.create-coupon-type-discount-div {
    background: url('/resources/img/discount.png') no-repeat;
    width: 95px;
}

.create-coupon-type-gift-div {
    background: url('/resources/img/gift.png') no-repeat;
    width: 69px;
}

.create-coupon-type-discount-gift-div {
    background: url('/resources/img/discount-gift.png') no-repeat;
    width: 135px;
}

.create-coupon-type-price-div {
    background: url('/resources/img/price.png') no-repeat;
    width: 145px;
}

.create-coupon-type-radio-group > md-radio-button.md-checked .create-coupon-type-discount-div {
    background: url('/resources/img/discount_active.png') no-repeat;
}

.create-coupon-type-radio-group > md-radio-button.md-checked .create-coupon-type-gift-div {
    background: url('/resources/img/gift_active.png') no-repeat;
}

.create-coupon-type-radio-group > md-radio-button.md-checked .create-coupon-type-discount-gift-div {
    background: url('/resources/img/discount-gift_active.png') no-repeat;
}

.create-coupon-type-radio-group > md-radio-button.md-checked .create-coupon-type-price-div {
    background: url('/resources/img/price_active.png') no-repeat;
}


.create-coupon-color-radio-group {
    overflow-x: auto;
}

.create-coupon-color-radio-group > md-radio-button > ._md-label {
    margin-left: 0;
}

.create-coupon-color-radio-group > md-radio-button > .md-ink-ripple {
    bottom: 20px;
    top: inherit !important;
    left: 13px;
}

.create-coupon-color-radio-group > md-radio-button {
    margin-right: 60px !important;
    height: 110px;
}

.create-coupon-color-radio-group .create-coupon-color {
    width: 48px;
    height: 48px;
    border: solid 1px black;
    border-radius: 50%;
}

.create-coupon-type-radio-span {
    color: #3d3d3b;
    font-size: 18px;
    display: block;
    padding-bottom: 7px;
}


.create-coupon-images-block {
    margin: 17px 0 25px;
}

.create-coupon-image-wrapper {
    width: 150px;
    height: 100px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    overflow: hidden;
}

.create-coupon-image-wrapper.static-upload-btn {
    border: solid 1px #C2C2C2;
    background: url('/resources/img/create_coupon_image_upload.png') no-repeat center 10px;
    color: #C2C2C2;
    font-size: 20px;
    text-align: center;
    padding-top: 41px;
    line-height: 22px;
    margin: 0;
    cursor: pointer;
}

.create-coupon-image-wrapper.static-upload-btn[disabled='disabled'] {
    cursor: not-allowed;
}

.create-coupon-image-wrapper.coupon-image {
    border: solid 1px #ebebeb;
    position: relative;
}

.create-coupon-image-wrapper.dropable-image-area {
    background: url("/resources/img/image_upload_dashed_border.png") no-repeat;
    color: #C2C2C2;
    font-size: 43px;
    text-align: center;
    padding-top: 18px;
    cursor: pointer;
}

.create-coupon-background-price-wrapper {
    position: absolute;
    right: 48px;
    top: 20px;
}

.create-coupon-background-price-description-block {
    font-family: Roboto-Regular;
    font-size: 22px;
    color: #c9c9c9;
    width: 210px;
    display: block;
    text-align: right;
    line-height: 28px;
}

.create-coupon-background-price-block {
    display: block;
    font-family: Roboto-Regular;
    font-size: 36px;
    color: #5a5b5e;
    text-align: end;
}



.create-coupon-background-color-block  md-radio-button {
    margin-right: 60px !important;
}

.create-coupon-background-color-block .create-coupon-color-radio-group {
    overflow-x: auto;
    width: 500px;
}