<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/vendor/css/lib.min.css">
    <link rel="stylesheet" href="../../resources/common/css/common.css">
    <link rel="stylesheet" href="../../resources/admin/app/app.css">
    <link rel="stylesheet" href="../../resources/admin/app/colors/colors.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="../../resources/vendor/js/lib.min.js"></script>
    <script src="../../resources/admin/app/app.js"></script>
    <script src="../../resources/admin/app/categories/categories.js"></script>
    <script src="../../resources/admin/app/colors/colors.js"></script>
    <script src="../../resources/admin/app/newCompanies/newCompanies.js"></script>
    <script src="../../resources/admin/app/newCoupons/newCoupons.js"></script>
    <script src="../../resources/admin/app/prices/prices.js"></script>
    <script src="../../resources/admin/app/regions/regions.js"></script>
    <script src="../../resources/common/directive/inputMaxLengthNumber.js"></script>
    <script src="../../resources/common/service/DialogService.js"></script>
    <script src="../../resources/common/service/HttpService.js"></script>
    <script src="../../resources/common/service/TemplateUrlService.js"></script>
    <!-- endinject -->
</head>

<body ng-app="mainApp" ng-controller="MainController">

    <!-- Header -->
    <md-toolbar class="app-toolbar md-whiteframe-z2 fix-top" >
        <div class="md-toolbar-tools" tabindex="0">
            <md-button class="menu-icon menu-btn" ng-click="toggleRight()" aria-label="Toggle Menu">
                <md-tooltip >
                    Меню
                </md-tooltip>
                <!--<md-icon icon="img/icons/ic_menu_24px.svg"></md-icon>-->
                <ng-md-icon icon="menu"></ng-md-icon>

            </md-button>
            Панель администратора Карман
        </div>
    </md-toolbar>


    <!--Content-->
    <div flex ng-view class="admin-content"></div>

    <!-- Left panel -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <div ng-controller="LeftController" ng-click="close()">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Меню</h1>
            </md-toolbar>
            <md-content >
                <a class="menu-item menu-sub-item md-menu-item" ng-click="menu.toggleSelectPage(page)" ng-repeat="page in menu.pages" ng-href="#{{page.url}}" md-highlight="menu.isPageSelected(page)" md-ink-ripple="#bbb">
                    <span > {{page.description}} </span>
                </a>
            </md-content>
        </div>
    </md-sidenav>
</body>
</html>