<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карман</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/vendor/css/lib.min.css">
    <link rel="stylesheet" href="../../resources/common/css/common.css">
    <link rel="stylesheet" href="../../resources/company/app/app.css">
    <link rel="stylesheet" href="../../resources/company/app/cabinet/cabinet.css">
    <link rel="stylesheet" href="../../resources/company/app/createCoupon/createCoupon.css">
    <link rel="stylesheet" href="../../resources/company/app/couponStats/couponStats.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/alertDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/datepickerDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/fixingDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/notEnoughMoneyDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/paymentDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/raisingDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/toPocketsDialog.css">
    <link rel="stylesheet" href="../../resources/company/app/history/history.css">
    <link rel="stylesheet" href="../../resources/company/app/login/login.css">
    <link rel="stylesheet" href="../../resources/company/app/purse/purse.css">
    <link rel="stylesheet" href="../../resources/company/app/passwordRecovery/passwordRecovery.css">
    <link rel="stylesheet" href="../../resources/company/app/registration/registration.css">
    <link rel="stylesheet" href="../../resources/company/app/dialog/yandex/yandexGeocoder.css">
    <link rel="stylesheet" href="../../resources/company/app/external/yandex/ya-map.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="../../resources/vendor/js/lib.min.js"></script>
    <script src="../../resources/company/app/app.js"></script>
    <script src="../../resources/company/app/cabinet/cabinet.js"></script>
    <script src="../../resources/company/app/cabinet/cabinetService.js"></script>
    <script src="../../resources/company/app/createCoupon/createCoupon.js"></script>
    <script src="../../resources/company/app/couponStats/couponStats.js"></script>
    <script src="../../resources/company/app/history/history.js"></script>
    <script src="../../resources/company/app/login/login.js"></script>
    <script src="../../resources/company/app/purse/purse.js"></script>
    <script src="../../resources/company/app/passwordRecovery/passwordRecovery.js"></script>
    <script src="../../resources/company/app/registration/registration.js"></script>
    <script src="../../resources/company/app/service/authService.js"></script>
    <script src="../../resources/company/app/service/paymentResultService.js"></script>
    <script src="../../resources/company/app/dialog/yandex/yandexGeocoder.js"></script>
    <script src="../../resources/company/app/external/yandex/ya-map-2.1.min.js"></script>
    <script src="../../resources/common/directive/inputMaxLengthNumber.js"></script>
    <script src="../../resources/common/service/DialogService.js"></script>
    <script src="../../resources/common/service/HttpService.js"></script>
    <script src="../../resources/common/service/TemplateUrlService.js"></script>
    <!-- endinject -->

</head>

<body ng-app="mainApp" ng-controller="mainController">
<div ng-class="{'anonymous-page': isFlexContainer()}" class="global-container">
    <div ng-show="isAuthenticated()" class="menu-wrapper">
        <div>
            <div class="menu-items-wrapper">
                <img width="46" height="49" src="/resources/img/logo_menu.png" class="company-menu-logo-image">
                <div ng-repeat="page in menu.pages" class="menu-item" ng-if="page.url != '/purse'">
                    <a ng-show="page.enabled()" ng-href="#{{page.url}}" class="menu-item-link"
                       ng-click="menu.toggleSelectPage(page)"
                       ng-class="{'menu-item-link-active': menu.isPageSelected(page)}">
                        <span>{{ ::page.description }}</span>
                    </a>
                </div>
            </div>

            <div class="menu-right-part-wrapper">
                <div class="menu-item" ng-repeat="page in menu.pages" ng-if="page.url == '/purse'">
                    <a ng-show="page.enabled()" ng-href="#{{page.url}}" class="menu-item-link"
                       ng-click="menu.toggleSelectPage(page)"
                       ng-class="{'menu-item-link-active': menu.isPageSelected(page)}">
                        <span>{{ ::page.description }}</span>
                    </a>
                </div>
                <div class="menu-current-balance-circle">{{ $root.principal.balance | number }} <span
                        class="ruble">&#8381;</span></div>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()" class="company-menu-name-wrapper">
                            <img ng-if="$root.principal.logo" src="/images/{{$root.principal.logo}}"
                                 class="menu-logo-circle">
                    <span>
                        {{ $root.principal.name }}
                    </span>
                            <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
                        </button>
                        <md-menu-content id="dropMenuContent" width="2" class="drop-menu-content">

                            <md-menu-item>
                                <md-button ng-click="toSettings()">
                                    <div class="menu-to-settings-icon-block"></div>
                                    Настройки
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="logout()">
                                    <div class="menu-logout-icon-block"></div>
                                    Выйти
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </div>

    <div ng-view="contentView" ng-cloak class="company-content-view"
         ng-class="{'no-padding-top': isFlexContainer()}"></div>
</div>
</body>
</html>