<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карман</title>

    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/vendor/css/lib.min.css">
    <link rel="stylesheet" href="../../resources/common/css/common.css">
    <link rel="stylesheet" href="../../resources/client/app/app.css">
    <link rel="stylesheet" href="../../resources/client/app/hello/hello.css">
    <link rel="stylesheet" href="../../resources/client/app/passwordRecovery/passwordRecovery.css">
    <link rel="stylesheet" href="../../resources/client/app/login/login.css">
    <link rel="stylesheet" href="../../resources/client/app/registration/registration.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="../../resources/vendor/js/lib.min.js"></script>
    <script src="../../resources/client/app/app.js"></script>
    <script src="../../resources/client/app/hello/hello.js"></script>
    <script src="../../resources/client/app/passwordRecovery/passwordRecovery.js"></script>
    <script src="../../resources/client/app/login/login.js"></script>
    <script src="../../resources/client/app/registration/registration.js"></script>
    <script src="../../resources/common/directive/inputMaxLengthNumber.js"></script>
    <script src="../../resources/common/service/DialogService.js"></script>
    <script src="../../resources/common/service/HttpService.js"></script>
    <script src="../../resources/common/service/TemplateUrlService.js"></script>
    <!-- endinject -->
</head>
<body ng-app="mainApp" ng-controller="mainController" ng-cloak class="main-page-body">

<div class="main-page-left-column-white-overlay">
    <div>
        <div></div>
    </div>
</div>

<div layout="row" layout-wrap class="main-page-container">
    <div class="main-page-menu-column">
        <img src="/resources/img/logo_auth.png" class="main-page-menu-logo">
        <div layout-align="center" class="main-page-menu-title">Карман</div>
        <div class="main-page-menu-filter">

            <ui-select ng-model="region" on-select="onRegionSelect($item)"
                       class="main-page-menu-filter-region-select-container">

                <ui-select-match placeholder="Все регионы">
                    {{ $select.selected.title }}
                </ui-select-match>
                <ui-select-choices repeat="region in (regions  | filter: $select.title)"
                                   refresh="searchRegions($select.search)">
                    {{ region.title }}
                </ui-select-choices>

            </ui-select>

            <ui-select ng-model="category" on-select="onCategorySelect($item)"
                       class="main-page-menu-filter-category-select-container">

                <ui-select-match placeholder="Все категории">
                    {{ $select.selected.title }}
                </ui-select-match>
                <ui-select-choices repeat="category in (categories  | filter: $select.title)"
                                   refresh="searchCategories($select.search)"
                                   refresh-delay="300">
                    {{ category.title }}
                </ui-select-choices>

            </ui-select>
        </div>
        <div ui-view="menuView" ng-cloak class="main-page-menu-view"></div>
        <div class="main-page-menu-mobile-apps-wrapper">
            <img src="/resources/img/googlplay.png" style="margin-bottom: 5px;">
            <img src="/resources/img/appstore.png">
        </div>
        <div class="main-page-to-company-app-link-wrapper">
            <a href ng-click="toCompanyApp()" class="main-page-to-company-app-link">
                + Разместить акцию
            </a>
        </div>
    </div>
    <div class="main-page-content-column">
        <div ui-view="contentView" ng-cloak></div>
    </div>
</div>
</body>
</html>