.login-form {
    margin-top: 35px;
}

.login-form input {
    width: 80%;
    height: 40px;
    border: solid 1px #c2c2c2;
    border-radius: 6px;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #686767;
    text-indent: 15px;
    margin-bottom: 10px;
}


.login-form button {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    background-color: #3a5cbc !important;
    color: white;
    text-transform: none;
    font-family: Roboto-Regular;
    font-size: 17px;
}

.login-password-recovery-wrapper {
    width: 80%;
    text-align: end;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.login-password-recovery-wrapper a {
    font-size: 13px;
    color: #484848;
    font-family: Roboto-Regular;
}

.login-password-recovery-wrapper a:hover, .login-password-recovery-wrapper a:focus {
    text-decoration: underline;
    color: #484848;
}

.login-form input::-webkit-input-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-form input:-moz-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-form input::-moz-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-form input:-ms-input-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}