<div>
    <form name="loginForm" ng-submit="signIn()"
          ng-controller="loginController" class="login-form">
        <div layout-align="center" layout="row">
            <input name="login" ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
                   ui-mask-placeholder-char="_" placeholder="Логин"
                   ng-model="credentials.login">
        </div>

        <div layout-align="center" layout="row">
            <input name="password" placeholder="Пароль" type="password"
                   ng-model="credentials.password">
        </div>

        <div class="login-password-recovery-wrapper">
            <a href ng-click="toRegistration()">Регистрация</a>
            <a href ng-click="toPasswordRecovery()" class="login-password-recovery">Забыли пароль?</a>
        </div>

        <div layout-align="center" layout="row">
            <md-button type="submit" class="md-raised md-primary">Войти</md-button>
        </div>
    </form>


</div>