<div layout-fill layout="column" class="inset">
    <md-content>
        <div layout="column" layout-align="center center">
            <h2>Цвета</h2>
        </div>

        <div layout="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="showDialog()">Новый цвет</md-button>
        </div>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Сисок цветов</span>
            </div>
        </md-toolbar>

        <table ng-table="tableParams" class="table text-center">
            <tr ng-repeat="color in $data">
                <td title="'Цвет'">
                    <div class="admin-colors-color-view" ng-style="{backgroundColor: color.colorHex}"></div>
                </td>
                <td title="'Действия'">
                    <md-button class="md-raised md-warn" ng-click="delete(color.id)">Удалить</md-button>
                </td>
            </tr>
        </table>

    </md-content>

</div>