<div ng-controller="categoriesController" layout-fill layout="column" class="inset">
    <md-content>
        <div layout="column" layout-align="center center">
            <h2>Категории</h2>
        </div>

        <div layout="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="showDialog($event)">Новая категория</md-button>
        </div>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Сисок категорий</span>
            </div>
        </md-toolbar>

        <table ng-table="tableParams" class="table text-center">
            <tr ng-repeat="category in $data">
                <td title="'Категория'">
                    <div class="admin-colors-color-view">{{category.title}}</div>
                </td>
                <td title="'Действия'">
                    <md-button class="md-raised md-info" ng-click="update($event, category)">Редактировать</md-button>
                    <md-button class="md-raised md-warn" ng-click="delete(category.id)">Удалить</md-button>
                </td>
            </tr>
        </table>
    </md-content>

</div>