<div layout-fill layout="column" class="inset">
    <md-content>

        <div layout="column" layout-align="center center">
            <h2>Цены</h2>
        </div>

        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <td>Цена за 1 день цветного фона</td>
                <td>
                    <input type="number" ng-model="prices.backgroundColorPerDayPrice" />
                </td>
                <td>
                    <md-button class="md-raised md-primary"
                               ng-click="edit('BACKGROUND_COLOR', prices.backgroundColorPerDayPrice)"
                    >Сохранить</md-button>
                </td>
            </tr>
            <tr>
                <td>Цена за поднятие акции</td>
                <td>
                    <input type="number" ng-model="prices.raisingPrice" />
                </td>
                <td>
                    <md-button class="md-raised md-primary"
                               ng-click="edit('RAISING', prices.raisingPrice)"
                    >Сохранить</md-button>
                </td>
            </tr>
            <tr>
                <td>Цена за закрепление акции</td>
                <td>
                    <input type="number" ng-model="prices.fixingPrice" />
                </td>
                <td>
                    <md-button class="md-raised md-primary"
                               ng-click="edit('FIXING', prices.fixingPrice)"
                    >Сохранить</md-button>
                </td>
            </tr>
            <tr>
                <td>Цена принудительного вброса в один карман</td>
                <td>
                    <input type="number" ng-model="prices.forceAddingToFavoritesPerCustomerPrice" />
                </td>
                <td>
                    <md-button class="md-raised md-primary"
                               ng-click="edit('TO_POCKETS', prices.forceAddingToFavoritesPerCustomerPrice)"
                    >Сохранить</md-button>
                </td>
            </tr>
        </table>

    </md-content>
</div>