@font-face {
    font-family: Roboto-Medium;
    src: url('/resources/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('/resources/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: PT-Sans-Regular;
    src: url('/resources/fonts/PTC55F.ttf');
}

.main-page-body {
    background-color: #ebedf3;
    height: auto;
}

.main-page-left-column-white-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-page-left-column-white-overlay > div {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}

.main-page-left-column-white-overlay > div > div {
    width: 25%;
    height: 100%;
    background-color: white;
}

.main-page-container {
    width: 1080px;
    margin: 0 auto;
    height: inherit;
}

.main-page-menu-column {
    width: 25%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding-top: 55px;
    z-index: 2;
}

.main-page-content-column {
    z-index: 1;
    width: 75%;
}

.main-page-menu-logo {
    width: 65%;
}

.main-page-menu-title {
    font-family: Roboto-Medium;
    font-size: 36px;
    color: #3a5cbc;
    margin-top: 30px;
    line-height: 1;
}

.main-page-menu-filter {
    width: 80%;
    margin: 60px auto 35px;
}

.main-page-menu-filter .caret {
    transform: rotate(-90deg);
    top: 40% !important;
}

.main-page-menu-filter .ui-select-toggle {
    text-indent: 35px;
    box-shadow: none;
    background-color: transparent;
    border: none;
    outline: 0;
    padding: 6px 0 0 0;
}


.main-page-menu-filter-region-select-container {
    background: url('/resources/img/location.png') no-repeat 0 center;
}

.main-page-menu-filter-category-select-container {
    background: url('/resources/img/cat.png') no-repeat 0 center;
}

.main-page-menu-filter-region-select-container:hover,
.main-page-menu-filter-region-select-container:focus {
    background: url('/resources/img/location_active.png') no-repeat 0 center;
}

.main-page-menu-filter-category-select-container:hover,
.main-page-menu-filter-category-select-container:focus {
    background: url('/resources/img/cat_active.png') no-repeat 0 center;
}

.main-page-menu-filter-region-select-container:hover .ui-select-toggle,
.main-page-menu-filter-region-select-container:focus .ui-select-toggle,
.main-page-menu-filter-category-select-container:hover .ui-select-toggle,
.main-page-menu-filter-category-select-container:focus .ui-select-toggle,
.main-page-menu-filter-region-select-container:hover .ui-select-toggle > span,
.main-page-menu-filter-region-select-container:focus .ui-select-toggle > span,
.main-page-menu-filter-category-select-container:hover .ui-select-toggle > span,
.main-page-menu-filter-category-select-container:focus .ui-select-toggle > span {
    color: #527ef8;
}

.main-page-menu-filter-region-select-container .ui-select-search
 {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    box-shadow: none;
    text-indent: 35px;
    padding-left: 0;
    width: 100% !important;
    background: url('/resources/img/location_active.png') no-repeat 0 center;
}

.main-page-menu-filter-category-select-container .ui-select-search {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    box-shadow: none;
    text-indent: 35px;
    padding-left: 0;
    width: 100% !important;
    background: url('/resources/img/cat_active.png') no-repeat 0 center;
}

.main-page-menu-filter-region-select-container .ui-select-match,
.main-page-menu-filter-category-select-container .ui-select-match {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.main-page-menu-view {
    border-top: solid 1px #ebedf3;
}

.main-page-menu-mobile-apps-wrapper {
    margin-top: 54px;
    margin-bottom: 58px;
    text-align: center;
}

.main-page-menu-mobile-apps-wrapper > img {
    display: block;
    margin: 0 auto;
}

.main-page-to-company-app-link {
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #a1a1a1;
}

.main-page-to-company-app-link-wrapper {
    border-top: solid 1px #ebedf3;
    padding: 13px 0;
}

.main-page-to-company-app-link:hover, .main-page-to-company-app-link:focus {
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #a1a1a1;
}