.cabinet-toolbar {
    background-color: #2d2d2d !important;
    height: 85px;
}

.cabinet-tabs-logo-circle {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 18px;
    left: -70px;
    z-index: 10;
}

.cabinet-tabs-company-name {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    font-family: Roboto-Medium;
    color: #FFFFFF;
    left: 123px;
    top: 25px;
}

.cabinet-tabs-wrapper {
    background-color: #EBEEF4;
}

.cabinet-tabs-wrapper > md-tabs-wrapper {
    background-color: white;
    padding-left: 100px;
    height: 85px;
    border-width: 0 !important;
}

.cabinet-tabs-wrapper > md-tabs-wrapper > md-tabs-canvas {
    height: 100%;
}

.cabinet-tabs-wrapper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper {
    bottom: 0;
    width: 260px !important;
    height: 100%;
}

.cabinet-tabs-wrapper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper > md-tab-item {
    font-family: Roboto-Regular;
    color: #2E323B;
    font-size: 18px;
    text-transform: none;
    padding-top: 35px;
    height: 100%;
}

.cabinet-tabs-wrapper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper > md-tab-item.md-active {
    font-family: Roboto-Medium;
    color: #2d2d2d;
}

.cabinet-tabs-wrapper > md-tabs-wrapper > md-tabs-canvas
> md-pagination-wrapper > md-ink-bar {
    background-color: #2d2d2d;
    height: 3px;
}

.cabinet-tabs-wrapper > md-tabs-content-wrapper {
    background: #EBEEF4;
}

.cabinet-tabs-wrapper > md-tabs-content-wrapper > md-tab-content {
    background: #EBEEF4;
}

.cabinet-tabs-wrapper > md-tabs-content-wrapper > md-tab-content
> div > md-content {
    background-color: #EBEEF4;
}

.cabinet-info-content {
    margin-top: 30px;
}

.cabinet-info-content p {
    background-color: white;
    border: solid 1px #DCDFE8;
    border-radius: 8px;
    padding: 20px 30px 20px 25px;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #535457;
}

.cabinet-info-content p.info {
    background-color: #3a4e93;
}

.cabinet-info-content p.warn {
    background-color: #ff004c;

}

.cabinet-info-content p.info,
.cabinet-info-content p.warn {
    margin-bottom: 18px;
    padding-left: 11px;
}

.cabinet-info-content p.info > img,
.cabinet-info-content p.warn > img {
    margin-right: 7px;
    vertical-align: top;
}

.cabinet-info-content p.info > span,
.cabinet-info-content p.warn > span {
    vertical-align: middle;
}

.cabinet-info-content p.warn > span > a {
    text-decoration: underline;
}

.cabinet-info-content p.info > span,
.cabinet-info-content p.warn > span,
.cabinet-info-content p.warn > span > a {
    color: white;
}

.cabinet-info-content p span {
    color: #7d7e82;
}

.cabinet-info-content > p > span > a {
    cursor: pointer;
}

.cabinet-company-description {
    margin-top: 18px;
    white-space: pre-wrap;
}

.cabinet-settings-row {
    background-color: white;
    border: solid 1px #DCDFE8;
    border-radius: 8px;
    margin-top: 30px;
}

.cabinet-settings-avatar-column {
    width: 225px;
    border-right: 1px solid #DCDFE8;
    padding: 20px;
    text-align: center;
}

.cabinet-settings-info-column {
    width: 100%;
    padding: 25px 45px;
}

.cabinet-settings-avatar-circle {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.cabinet-settings-avatar-update-btn {
    width: 185px;
    height: 40px;
    margin: 0;
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #FFFFFF !important;
    text-transform: none;
    border-radius: 20px;
    background-color: #2d2d2d !important;
    border: none;
}

.cabinet-settings-avatar-delete-btn {
    width: 125px;
    height: 40px;
    margin-top: 10px;
    border: solid 1px #C2C2C2;
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #C2C2C2;
    text-transform: none;
    border-radius: 20px;
}

.cabinet-settings-info-column label {
    display: block;
    color: #A7A7A7;
    font-family: Roboto-Regular;
    font-size: 13px;
}

.cabinet-settings-info-column input,
.cabinet-settings-info-column textarea,
.cabinet-settings-info-column .ui-select-toggle {
    border: 1px solid #C2C2C2;
    border-radius: 6px;
    width: 100%;
    padding-left: 15px;
    color: #686767;
    font-family: Roboto-Regular;
    font-size: 15px;
    outline: 0;
}

.ui-select-search {
    min-width: 100%;
}

.cabinet-settings-info-column > form > input,
.cabinet-settings-info-column textarea {
    margin-bottom: 25px;
}

.cabinet-settings-info-column div.ui-select-container {
    margin-bottom: 15px;
}

.cabinet-settings-info-column div.ui-select-container div.ui-select-match {
    outline-color: transparent;
}

.cabinet-settings-info-column input:focus,
.cabinet-settings-info-column textarea:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.cabinet-settings-info-column input,
.cabinet-settings-info-column .ui-select-toggle {
    height: 45px;
}

.cabinet-settings-info-column input.warn {
    border-color: #ff004c;
    background: url('/resources/img/decline_small.png') no-repeat right 15px center;
}

.cabinet-settings-info-column input:disabled {
    background: url('/resources/img/lock.png') no-repeat center right 18px #E6E6E6;
}

.cabinet-settings-info-column .ui-select-toggle {
    padding-top: 12px;
}

.cabinet-settings-info-column textarea {
    resize: none;
    height: 200px;
}

.cabinet-settings-info-column button {
    width: 180px;
    height: 40px;
    margin: 0;
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #FFFFFF !important;
    text-transform: none;
    border-radius: 20px;
    background-color: #2d2d2d !important;
    border: none;
    display: block;
    margin: 0 auto;
}
