<div class="cabinet-blue-line"></div>
<div class="cabinet-white-line"></div>
<div class="cabinet-transparent-shadow-line"></div>

<div class="company-content">
    <div class="cabinet-tabs-company-name">{{ $root.principal.name }}</div>
    <md-toolbar class="cabinet-toolbar"></md-toolbar>
    <md-tabs md-no-ink md-dynamic-height md-border-bottom class="cabinet-tabs-wrapper"
             md-selected="selectedTabIndex">
        <md-tab label="Аккаунт">
            <md-content class="md-padding">

                <div class="cabinet-info-content">

                    <p ng-show="company.inModeration || $root.principal.inModeration" class="info">
                        <img src="/resources/img/inf_icn.png">
                        <span ng-if="!$root.principal.isActive">
                            Ваша компания неактивна, так как находится в модерации.
                        </span>
                        <span ng-if="$root.principal.isActive">
                            Ваша компания активна, но часть данных находится в модерации.
                        </span>
                    </p>

                    <p ng-show="!company.inModeration && !$root.principal.isActive && $root.principal.moderatorsComment" class="warn">
                        <img src="/resources/img/inf_icn.png">
                        <span>
                            Ваша кампания неактивна, так как заявка отклонена. <br />
                            Причина отклонения: "{{ $root.principal.moderatorsComment }}". <br />
                            Перейдите по <a ng-click="setActiveTabIndex(1)">ссылке</a> и измените информацию.
                        </span>
                    </p>

                    <p ng-show="info.category.title">
                        <span>Категория:</span> {{ info.category.title }}
                    </p>

                    <p ng-show="info.description" class="cabinet-company-description"><span>О компании:</span> {{
                        info.description }}</p>

                    <p ng-show="info.siteUrl">
                        <span>Сайт:
                            <a href="{{ info.siteUrlHref }}" target="_blank">
                            {{ info.siteUrl }}
                            </a>
                        </span>
                    </p>

                    <p ng-show="info.address">
                        <span>Адрес:</span> {{ info.address }}
                    </p>

                    <p ng-show="info.contactPhoneNumber">
                        <span>Телефон:</span> +7{{ info.contactPhoneNumber }}
                    </p>
                </div>

            </md-content>
        </md-tab>
        <md-tab label="Настройки">
            <md-content class="md-padding">
                <div layout="row" class="cabinet-settings-row">

                    <div class="cabinet-settings-avatar-column">
                        <img ng-if="$root.principal.logo" class="cabinet-settings-avatar-circle"
                             src="/images/{{$root.principal.logo}}">
                        <div ng-if="!$root.principal.logo" class="cabinet-settings-avatar-circle"></div>

                        <md-button class="cabinet-settings-avatar-update-btn"
                                   type="file" ngf-select="updateAvatar($file, $invalidFiles)"
                                   accept="images/*" ngf-max-size="1MB">
                            Обновить логотип
                        </md-button>
                        <md-button ng-if="$root.principal.logo" ng-click="deleteAvatar()"
                                   class="cabinet-settings-avatar-delete-btn">
                            Удалить
                        </md-button>
                    </div>

                    <div class="cabinet-settings-info-column">
                        <form ng-submit="updateInfo()" class="cabinet-settings-update-info-form">

                            <label>Торговое название компании</label>
                            <input ng-model="company.name" placeholder="Название компании"
                                   ng-disabled="company.inModeration"
                                   ng-class="{warn: !company.inModeration && !$root.principal.isActive && $root.principal.moderatorsComment}">


                            <label>Категория</label>
                            <ui-select ng-model="company.category">

                                <ui-select-match placeholder="Начните ввод категории...">
                                    {{ $select.selected.title }}
                                </ui-select-match>
                                <ui-select-choices repeat="category in (categories  | filter: $select.title)"
                                                   refresh="searchCategories($select.search)"
                                                   refresh-delay="300">
                                    {{ category.title }}
                                </ui-select-choices>

                            </ui-select>

                            <label>Описание</label>
                            <textarea ng-model="company.description" placeholder="О компании" ng-maxlength=1500 input-max-length-number></textarea>

                            <label>Сайт</label>
                            <input ng-model="company.siteUrl" placeholder="Сайт" ng-maxlength=300 input-max-length-number>

                            <label>Адрес</label>
                            <input ng-model="company.address" placeholder="Адрес"
                                   ng-maxlength=300 input-max-length-number
                                   ng-readonly="true" ng-click="showGeocoder()">

                            <label>Контактный номер</label>
                            <input ng-model="company.contactPhoneNumber" placeholder="Телефон" maxlength=30 input-max-length-number
                                   ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
                                   ui-mask-placeholder-char="_">

                            <label>email</label>
                            <input ng-model="company.email" placeholder="email"
                                   ng-maxlength=260 input-max-length-number
                                   ng-disabled="company.inModeration"
                                   ng-class="{warn: !company.inModeration && !$root.principal.isActive && $root.principal.moderatorsComment}">

                            <label>Ф.И.О.</label>
                            <input ng-model="company.fullName" placeholder="Ф.И.О."
                                   ng-maxlength=100 input-max-length-number
                                   ng-disabled="company.inModeration"
                                   ng-class="{warn: !company.inModeration && !$root.principal.isActive && $root.principal.moderatorsComment}"    >


                            <md-button type="submit" class="md-raised md-button">Обновить</md-button>

                        </form>
                    </div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>