<md-dialog class="coupon-view-dialog-container" aria-label="Просмотр акции" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Просмотр акции</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Закрыть">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div ng-include src="'/resources/common/templates/couponView.html'"></div>
    </md-dialog-content>

</md-dialog>