<md-dialog aria-label="Category" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Новый цвет</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="admin-colors-new-color-dialog-content">
        <div class="md-dialog-content">
            <form title="categoryForm" ng-submit="submit()">
                <color-picker ng-model="color.colorHex"
                              color-picker-format="'hex'"></color-picker>

                <div layout-align="center" layout="row">
                    <md-button ng-disabled="submitDisabled" type="submit" class="md-raised md-primary">Сохранить</md-button>
                </div>
            </form>

        </div>
    </md-dialog-content>

</md-dialog>