<md-dialog aria-label="City" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Новый город</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form title="cityForm" ng-submit="submit()">
                <md-input-container class="md-block">
                    <ui-select ng-model="city.region"
                               title="region"
                               class="region-select-container"
                               required >
                        <ui-select-match placeholder="Начните вводить регион">
                            {{ $select.selected.title }}
                        </ui-select-match>
                        <ui-select-choices repeat="region in (regions  | filter: $select.title)"
                                           refresh="searchRegions($select.search)">
                            {{ region.title }} <div ng-if="region.parent_title">({{ region.parent_title }})</div>
                        </ui-select-choices>
                        <div ng-messages="cityForm.region.$error">
                            <div ng-message="required"
                                 ng-show="cityForm.region.$error.required">
                                Регион - обязательное поле
                            </div>
                        </div>
                    </ui-select>
                </md-input-container>
                    <md-input-container class="md-block">
                        <label>Название</label>
                        <input  title="title"
                                ng-model="city.title"
                                md-maxlength="255"
                                maxlength="255"
                                required >

                        <div ng-messages="cityForm.title.$error">
                            <div ng-message="required"
                                 ng-show="cityForm.title.$error.required">
                                Название - обязательное поле
                            </div>
                        </div>
                </md-input-container>

                <div layout-align="center" layout="row">
                    <md-button ng-disabled="!correctData()" type="submit" class="md-raised md-primary">Сохранить</md-button>
                </div>
            </form>

        </div>
    </md-dialog-content>

</md-dialog>