<md-dialog aria-label="Category" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Редактирование категории</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form title="categoryForm" ng-submit="submit()">
                <md-input-container class="md-block">

                </md-input-container>
                    <md-input-container class="md-block">
                        <label>Название</label>
                        <input  title="title"
                                ng-model="category.title"
                                md-maxlength="255"
                                maxlength="255"
                                required >

                        <div ng-messages="categoryForm.title.$error">
                            <div ng-message="required"
                                 ng-show="categoryForm.title.$error.required">
                                Название - обязательное поле
                            </div>
                        </div>
                </md-input-container>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="hidden" title="id" ng-model="category.id" required >
                </md-input-container>

                <div layout-align="center" layout="row">
                    <md-button ng-disabled="!correctData()" type="submit" class="md-raised md-primary">Сохранить</md-button>
                </div>
            </form>

        </div>
    </md-dialog-content>

</md-dialog>