<div class="login-logo-content">

    <img src="/resources/img/karman_logo_auth.png" class="company-auth-logo-image">
    <h2>Карман</h2>

    <span>
        Карман &mdash; это возможность получать подарки, пользоваться скидками и горячими <br />
        предложениями на самые разные товары услуги. Мы сотрудничаем с проверенными <br />
        партнерами, которые предоставляют нашим пользователям все самое качественное. С <br />
        помощью наших приложений для мобильных устройств вы будете получать подарки и <br />
        скидки на любые услуги и товары. Вас ждут горячие предложения на увлекательные <br />
                туры, экскурсии, развлечения, товары для дома и многое другое. <br />
        <br/><br/>
    </span>
    <span>
        <h3>Услуги сервиса:</h3>
        Размещение акции — бесплатно на любой срок;<br/>
        Размещение рекламного материала: скидка, ценовое предложение, подарок<br/><br/>
        <h4>Поднять акцию в топ — 28 руб.</h4>
        Акция поднимается на первое место в результатах поиска, как если бы оно было только что подано на сайт.<br/>
        Каждый день на karman.site размещают новые акции. Со временем акция опускается в поиске, и покупателям становится сложно её найти.<br/>
        После поднятия ваша акция опять окажется наверху, и вы расскажете об акции быстрее.<br/><br/>
        <h4>Закрепить акцию — 114 руб.</h4>
        Акция будет в течение суток показываться в верхней части общей ленты.<br/>
        В момент применения услуги акция поднимется на первое место в результатах поиска бесплатно.<br/>
        В отличие от обычных акций, закрепленная акция всегда на виду, и об вашей акции узнают гораздо быстрее!<br/><br/>
        <h4>Изменить цвет фона акции — 1 руб./сутки</h4>
        Акция по умолчанию имеет белый цвет фона. Изменив цвет фона вы сделаете акцию более заметнее, что увеличит количество ее просмотров.<br/><br/>
        <h4>Рассылка акции — 1 руб./пользователь</h4>
        Акция рассылается по карманам пользователям мобильных приложений с уведомлением,<br/>
        как если бы вы вручили листовку с вашей акцией пользователю лично.<br/>
        Рассылка в разы увеличивает просмотры вашей акции, а это значит, что вы продадите товар гораздо быстрее!
        <br/><br/>
        <h4>Устанавливай приложение и получай удовольствие от выгодных приобретений!</h4>

    </span>

    <div class="login-mobile-apps-wrapper">
        <img src="/resources/img/googlplay.png">
        <img src="/resources/img/appstore.png">
    </div>

</div>
<div class="login-form-content">
    <form ng-controller="loginController" ng-submit="signIn()" class="login-form">

        <span>Авторизация для рекламодателей:</span>

        <input type="text" ng-model="credentials.phoneNumber" ui-mask="+7 (999) 999-99-99" ui-mask-placeholder
               ui-mask-placeholder-char="_" placeholder="Номер телефона"><br/>

        <input ng-model="credentials.password" type="password" placeholder="Пароль" style="margin-bottom: 8px;"><br/>

        <div layout-align="space-between center" layout="row">
            <div>
                <a href ng-click="toRegistration()">Регистрация</a>
            </div>
            <div>
                <a href ng-click="toPasswordRecovery()">Забыли пароль?</a>
            </div>
        </div>

        <md-button type="submit" class="md-raised md-primary login-form-submit">Войти</md-button>

    </form>
</div>

<div class="login-footer-content">
    <a href="/resources/license/licenseAgreement.pdf" target="_blank">Пользовательское соглашение</a>
</div>