.login-logo-content {
    text-align: center;
    background-color: white;
    margin-top: -20px;
}

.login-logo-content > h2 {
    text-align: center;
    color: #2f2f2d;
    margin-bottom: 47px;
    font-family: Roboto-Regular;
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.login-logo-content h4 {
    color: black;
}

.login-logo-content > span {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #595959;
}

.login-mobile-apps-wrapper {
    margin-top: 35px;
    padding-bottom: 40px;
}

.login-mobile-apps-wrapper > img {
    margin-right: 15px;
    margin-left: 15px;
}

.login-form-content {
    text-align: center;
}

.login-form {
    padding: 40px 0;
    margin: 0 auto;
    width: 250px;
}

.login-form > span {
    font-family: Roboto-Medium;
    color: #b6bbc7;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.login-form input {
    border: solid 1px #b6bbc7;
    width: 250px;
    height: 45px;
    text-indent: 13px;
    border-radius: 6px;
    color: #272727;
    font-family: Roboto-Medium;
    font-size: 17px;
}

.login-form input:focus {
    outline: none;
}

.login-form input {
    margin-bottom: 16px;
}

.login-form-submit {
    width: 250px;
    height: 45px;
    margin: 0;
    font-family: Roboto-Medium;
    font-size: 15px;
    color: white !important;
    background-color: #b6bbc7 !important;
    border-radius: 6px;
    text-transform: none;
}

.login-form a {
    color: #b6bbc7;
    font-family: Roboto-Regular;
    font-size: 13px;
    text-decoration: underline;
}

.login-form > div {
    margin: 0 0 10px 0;
    text-align: start;
    padding: 0 5px;
}

.login-form input::-webkit-input-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-form input:-moz-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-form input::-moz-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-form input:-ms-input-placeholder {
    color: #a1a1a1;
    font-family: Roboto-Regular;
}

.login-footer-content {
    background-color: #b6bbc7;
    color: #ebeef4;
    font-family: Roboto-Regular;
    font-size: 17px;
    padding: 28px 0;
}

.login-footer-content a {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.login-footer-content > div {
    margin: 0 auto;
    width: 600px;
}