.hello-content {
    text-align: left;
    padding: 30px 0 30px 25px;
    border-bottom: solid 1px #ebedf3;
}

.hello-content > div {
    text-indent: 38px;
    height: 45px;
    line-height: 2.6;
    font-family: Roboto-Regular;
    font-size: 17px;
    outline: none;
}

.hello-user-block {
    position: relative;
}

.hello-user-block > span {
    background-size: cover !important;
    position: absolute;
    display: block;
    width: 24px;
    top: 11px;
    height: 24px;
    border-radius: 50%;
}

.hello-user-block > div {
    position: absolute;
    top: 10px;
    right: 25px;
    background: url('/resources/img/logout_passive.png') no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
    outline: none;
}

.hello-user-block > div:hover {
    background: url('/resources/img/logout_Active.png') no-repeat;
}

.hello-content img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.hello-cabinet-block,
.hello-settings-block {
    cursor: pointer;
    color: #a1a1a1;
}

.hello-cabinet-block:hover,
.hello-settings-block:hover {
    color: #527EF9;
}

.hello-cabinet-block {
    background: url('/resources/img/profile_passive.png') no-repeat center left 2px;
}

.hello-cabinet-block:hover {
    background: url('/resources/img/profile_Active.png') no-repeat center left 2px;
}

.hello-settings-block {
    background: url('/resources/img/settings_passive.png') no-repeat center left;
}

.hello-settings-block:hover {
    background: url('/resources/img/settings_Active.png') no-repeat center left;
}