<div ng-controller="helloController" class="hello-content">

    <div class="hello-user-block">
        <span ng-style="{background: logoBackground()}"></span>
        {{ $root.principal.name }}
        <div ng-click="logout()"></div>
    </div>

    <div ng-if="$root.principal.role == 'COMPANY'" class="hello-cabinet-block"
        ng-click="toCabinet()">
        Кабинет
    </div>
    <div ng-if="$root.principal.role == 'COMPANY'" class="hello-settings-block"
        ng-click="toSettings()">
        Настройки
    </div>
</div>