@font-face {
    font-family: Roboto-Medium;
    src: url('/resources/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('/resources/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/resources/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: PT-Sans-Regular;
    src: url('/resources/fonts/PTC55F.ttf');
}

.global-container {
    min-height: inherit;
    background: linear-gradient(#EBEEF4, #EBEEF4) no-repeat 0px 90px;
}

.anonymous-page {
    min-height: 100%;
    display: flex;
    background: none;
}

.no-padding-top {
    padding-top: 0 !important;
}

.menu-wrapper {
    width: 100%;
    height: 90px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 25;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;
}

.menu-wrapper > div {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
}

.menu-right-part-wrapper {
    display: inline-block;
    float: right;
}

.menu-right-part-wrapper > md-menu-bar {
    width: 185px;
    height: 100%;
    display: inline-block;
    align-items: center;
    border-left: #F2F2F2 solid 1px;
    border-right: #F2F2F2 solid 1px;
    padding: 0;
    margin-left: 25px;
    margin-right: 47px;
    vertical-align: middle;
}

.menu-right-part-wrapper > div > md-menu-bar > md-menu,
.menu-right-part-wrapper > div  > md-menu-bar > md-menu > button {
    width: 100%;
}

.menu-right-part-wrapper > md-menu-bar > md-menu {
    margin: 25px 0;
}

.menu-right-part-wrapper > md-menu-bar > md-menu._md-open > button,
.menu-right-part-wrapper > md-menu-bar > md-menu > button:focus {
    background-color: white;
}

.menu-items-wrapper {
    display: inline-block;
    margin: 21px 0;
}

.menu-item {
    display: inline-block;
    height: inherit;
    margin: 0 15px;
}

.menu-item-link {
    color: #2d2d2d;
    font-family: Roboto-Regular;
    font-size: 17px;
}

.menu-item-link-active, .menu-item-link-active:focus {
    color: #595959;
    font-family: Roboto-Medium;
    text-decoration: underline !important;
}

.menu-item-link:hover, .menu-item-link:focus {
    text-decoration: none;
}

.menu-current-balance-circle {
    height: 35px;
    border-radius: 17px;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    background: white;
    color: #2E323B;
    border: solid 2px #3a4e93;
    font-family: Roboto-Regular;
    padding: 0 11px;
    white-space: nowrap;
    display: inline-block;
}

.menu-logo-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.company-content-view {
    padding-top: 90px;
}

.company-content {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.company-auth-logo-image {
    margin: 0 auto;
}

.company-menu-logo-image {
    margin-left: 30px;
    margin-right: 70px;
}

.company-menu-name-wrapper {
    color: #2E323B;
    font-family: Roboto-Regular;
    font-size: 15px;
}

.company-menu-name-wrapper > span {

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    max-height: 1.2em;
}

.cabinet-blue-line {
    top: 90px;
    height: 85px;
    width: 100%;
    background: #2d2d2d;
    position: absolute;
}

.cabinet-white-line {
    top: 175px;
    height: 85px;
    width: 100%;
    background: white;
    position: absolute;
}

.cabinet-transparent-shadow-line {
    background: transparent;
    top: 236px;
    position: absolute;
    height: 24px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.12);
}

.history-grey-line {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: #E2E4EB;
}

.drop-menu-container {
    box-shadow: none;
}

.drop-menu-content {
    font-family: Roboto-Regular;
    font-size: 15px;
    width: 183px;
    margin-top: 25px;
    padding-top: 0px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 8px !important;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.07);
}

.drop-menu-content > md-menu-item:first-child {
    box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.07);
}

.drop-menu-content > md-menu-item > .md-button {
    border-left: 2px solid;
    border-color: transparent;
}

.drop-menu-content > md-menu-item > .md-button:hover,
.drop-menu-content > md-menu-item > .md-button.md-focused {
    background-color: white;
}

.drop-menu-content > md-menu-item:hover > .md-button {
    color: #3a4e93;
    border-color: #3a4e93;
}

.drop-menu-content > md-menu-item > .md-button > div {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 18px;
    margin-right: 16px;
    background-size: 20px 20px;
    margin-top: 6px;
    margin-right: 16px;
}

.menu-to-cabinet-icon-block {
    background: url('/resources/img/profile_passive.png') no-repeat;
}

.menu-to-settings-icon-block {
    background: url('/resources/img/settings_passive.png') no-repeat;
}

.menu-logout-icon-block {
    background: url('/resources/img/logout_passive.png') no-repeat;
}

.drop-menu-content > md-menu-item:hover .menu-to-cabinet-icon-block,
.drop-menu-content > md-menu-item:hover .menu-to-cabinet-icon-block {
    background: url('/resources/img/profile_Active.png') no-repeat;
    background-size: 20px 20px;
}

.drop-menu-content > md-menu-item:hover .menu-to-settings-icon-block,
.drop-menu-content > md-menu-item:hover .menu-to-settings-icon-block {
    background: url('/resources/img/settings_Active.png') no-repeat;
    background-size: 20px 20px;
}

.drop-menu-content > md-menu-item:hover .menu-logout-icon-block,
.drop-menu-content > md-menu-item:hover .menu-logout-icon-block {
    background: url('/resources/img/logout_Active.png') no-repeat;
    background-size: 20px 20px;
}

span.ruble {
    font-family: PT-Sans-Regular;
}

md-tooltip {
    height: auto;
    font-size: 16px;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
    background-color: #3a4e93 !important;
}

md-radio-button > ._md-container > ._md-on {
    background-color: #3a4e93 !important;
}

md-radio-button.md-checked > ._md-container > ._md-off {
    border-color: #3a4e93 !important;
}

.underline {
    text-decoration: underline;
}