<div class="company-content">

    Четкие графики

    <canvas class="chart chart-line" chart-data="favoriteData.data"
            chart-labels="favoriteData.labels"
            chart-series="favoriteData.series"
            legend="true"
            chart-options="favoriteData.options"
    >
    </canvas>

    <canvas class="chart chart-line" chart-data="reviewData.data"
            chart-labels="reviewData.labels"
            chart-series="reviewData.series"
            legend="true"
            chart-hover="reviewData.onHover()">
    </canvas>

</div>