<div ng-controller="regionsController" layout-fill layout="column" class="inset">
    <md-content>
        <div layout="column" layout-align="center center">
            <h2>Регионы/Города</h2>
        </div>

        <div layout="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="newRegion($event)">Новый регион</md-button>
        </div>

        <div layout="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="newCity($event)">Новый город</md-button>
        </div>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Сисок регионов и городов</span>
            </div>
        </md-toolbar>

        <table ng-table="tableParams" class="table text-center">
            <tr ng-repeat="region in $data">
                <td title="'Город'">
                    <div class="admin-colors-color-view">{{region.title}}</div>
                </td>
                <td title="'Область'">
                    <div ng-if="region.parent_title">{{ region.parent_title }}</div>
                </td>
                <td title="'Действия'">
                    <md-button class="md-raised md-warn" ng-click="delete(region.id)">Удалить</md-button>
                </td>
            </tr>
        </table>
    </md-content>

</div>